html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import 'variables.scss';
@import 'lost_grid.scss';

@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/mixins/grid-framework';
@import '~bootstrap/scss/mixins/grid';
@import '~bootstrap/scss/grid';

.c-link {

  &--white {
    color: #FFF !important;
    &:hover {
      color: #FFF !important;
    }
  }

}

.c-art {

  &--responsive-orientation {

    @media(orientation: portrait) {
      width: 100%;
    }

    @media(orientation: landspace) {
      height: 100%;
    }

  }

}

.v--modal-overlay {
  background: #00000095 !important;
}

// tippy

.tippy-tooltip.quero-theme {
  background-color: color(dark-gray);
  color: #FFF;
  font-size: 0.75em;
}

.tippy-tooltip.quero-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.quero-theme .tippy-backdrop {
  background-color: color(dark-gray);
}

.tippy-popper[x-placement^='top'] .tippy-tooltip.quero-theme .tippy-arrow {
  border-top-color: color(dark-gray);
}
.tippy-popper[x-placement^='bottom'] .tippy-tooltip.quero-theme .tippy-arrow {
  border-bottom-color: color(dark-gray);
}
.tippy-popper[x-placement^='left'] .tippy-tooltip.quero-theme .tippy-arrow {
  border-left-color: color(dark-gray);
}
.tippy-popper[x-placement^='right'] .tippy-tooltip.quero-theme .tippy-arrow {
  border-right-color: color(dark-gray);
}

// vuebar

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
  transition:
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
  background-color: change-color(color(blue), $alpha: .1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: change-color(color(blue), $alpha: .3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: change-color(color(blue), $alpha: .5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: change-color(color(blue), $alpha: .5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: change-color(color(blue), $alpha: .5);
}
