html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "variables.scss";
@import "posts.scss";

@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/mixins/grid-framework";
@import "~bootstrap/scss/mixins/grid";
@import "~bootstrap/scss/grid";

@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/border-radius";
@import "~bootstrap/scss/nav";

@import "~vue-loading-overlay/dist/vue-loading";
@import "~vue-slider-component/dist-css/vue-slider-component";

@import "theming/vuebar.scss";
@import "theming/multiselect.scss";
@import "theming/vue-modal.scss";
@import "theming/classpert.scss";

.l-blog-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}

.c-link {
  &--white {
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
}

.c-art {
  &--responsive-orientation {
    @media (orientation: portrait) {
      width: 100%;
    }

    @media (orientation: landspace) {
      height: 100%;
    }
  }
}

.c-pagination {
  list-style: none;
  margin: 10px 0px;
  padding: 0;
  clear: both;

  &__page {
    float: left;
    margin-right: 10px;

    &--current {
      background-color: #4c636f;
      color: #fff;
      padding: 0px 4px;
      border-radius: 3px;

      a {
        display: inline-block;
      }
    }
  }
}

// tippy

.tippy-tooltip.quero-theme {
  background-color: var(--foreground);
  color: #fff;
  font-size: 0.75em;
}

.tippy-tooltip.quero-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.quero-theme .tippy-backdrop {
  background-color: var(--foreground);
}

.tippy-popper[x-placement^="top"] .tippy-tooltip.quero-theme .tippy-arrow {
  border-top-color: var(--foreground);
}

.tippy-popper[x-placement^="bottom"] .tippy-tooltip.quero-theme .tippy-arrow {
  border-bottom-color: var(--foreground);
}

.tippy-popper[x-placement^="left"] .tippy-tooltip.quero-theme .tippy-arrow {
  border-left-color: var(--foreground);
}

.tippy-popper[x-placement^="right"] .tippy-tooltip.quero-theme .tippy-arrow {
  border-right-color: var(--foreground);
}
