html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "variables.scss";
@import "posts.scss";

@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/mixins/grid-framework";
@import "~bootstrap/scss/mixins/grid";
@import "~bootstrap/scss/grid";

@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/border-radius";
@import "~bootstrap/scss/nav";

@import "~vue-loading-overlay/dist/vue-loading";
@import "@classpert/vendor-styling/dist/tippy/5.2.css";

.l-blog-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}

.c-link {
  text-decoration: none;
  &--white {
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
}

.c-art {
  &--responsive-orientation {
    @media (orientation: portrait) {
      width: 100%;
    }

    @media (orientation: landspace) {
      height: 100%;
    }
  }
}
