<% content_for :meta do %>
  <title>Classpert Index Tool | Classpert</title>
  <meta property='og:description' content="Are you and instructor or an e-learning platform? Get your courses listed on Classpert" />
  <meta name='description' content="Are you and instructor or an e-learning platform? Get your courses listed on Classpert" />
<% end %>

<div class='bc-s'>
  <div class="container">

    <div class="row pT40">
      <div class="col-12 offset-lg-3 col-lg-6">
        <%= image_bundle_tag("media/svg/squerol-experiment.svg", width: '100%') %>
      </div>
    </div>

    <div class="row mT64 pB80">
      <div class="col-12 offset-lg-3 col-lg-6">
        <h1 class="fs24 ta-c">
          Classpert Index Tool <sup class='c1V fs10'>beta</sup>
        </h1>

        <div class="mT32">
          <p class="fs16" style='line-height:1.5em'>
            You asked we listened! We've just launched the beta version of Classpert Index Tool.
            <b>Whether you are an instructor or an e-learning platform you can now have your courses
              listed on Classpert</b>.
            During this phase, you may encounter some bugs or have an
            unpleasant experience with our site. If that happens, our team is ready to listen and
            support you. We're looking forward to your feedback and to learning more about how you use
            it.
          </p>
        </div>

        <%= link_to developers_dashboard_url, class: "mT24 mL-a mR-a el:m-button
        el:m-button--primary-flat el:m-button--md el:m-button--block", style:
        'max-width:320px;' do %> Sign up for the beta <% end %>

        <h2 class="fs24 mT24 bdT pT24">
          It's free!
        </h2>

        <p class="fs16" style='line-height:1.5em'>
          Listing courses on Classpert has no financial costs or extra fees involved. In case
          instructors or platforms offer affiliate programs, Classpert may get commissions through
          it.
        </p>

        <h2 class="fs24 mT24">
          Learn more
        </h2>

        <p class="fs16" style='line-height:1.5em'>
          Read our <%= link_to 'documentation', listing_api_documentation_url, class: 'c1 c1:h' %> and
          learn how simple it is to connect your web site and have your courses listed on Classpert.
        </p>

        <h2 class="fs20 mT24">
          Having trouble? Contact us
        </h2>

        <p class="fs16" style='line-height:1.5em'>
          If you are having trouble connecting your web site with Classpert or want to send some
          feedback, <%= link_to 'contact us', contact_us_path, class: 'c1 c1:h' %>.
        </p>


      </div>
    </div>
  </div>
</div>
