<% content_for :meta do %>
  <title>Classpert Index Tool | Classpert</title>
  <meta property='og:description' content="Are you and instructor or an e-learning platform? Get your courses listed on Classpert" />
  <meta name='description' content="Are you and instructor or an e-learning platform? Get your courses listed on Classpert" />
<% end %>

<div class='el:amx-Bc_su'>
  <div class="container">

    <div class="row el:amx-Pt(2.5em)">
      <div class="col-12 offset-lg-3 col-lg-6">
        <%= image_bundle_tag("media/svg/squerol-experiment.svg", width: '100%') %>
      </div>
    </div>

    <div class="row el:amx-Mt(4em) el:amx-Pb(5em)">
      <div class="col-12 offset-lg-3 col-lg-6">
        <h1 class="el:amx-Fs(1.5em) el:amx-Ta(c)">
          Classpert Index Tool <sup class='el:amx-C_prV el:amx-Fs(0.625em)'>beta</sup>
        </h1>

        <div class="el:amx-Mt(2em)">
          <p class="el:amx-Fs(1em)" style='line-height:1.5em'>
            You asked we listened! We've just launched the beta version of Classpert Index Tool.
            <b>Whether you are an instructor or an e-learning platform you can now have your courses
              listed on Classpert</b>.
            During this phase, you may encounter some bugs or have an
            unpleasant experience with our site. If that happens, our team is ready to listen and
            support you. We're looking forward to your feedback and to learning more about how you use
            it.
          </p>
        </div>

        <%= link_to developers_dashboard_url, class: "el:amx-Mt(1.5em) el:amx-Ml(a) el:amx-Mr(a) btn
        btn--primary-flat btn--md btn--block", style:
        'max-width:320px;' do %> Sign up for the beta <% end %>

        <h2 class="el:amx-Fs(1.5em) el:amx-Mt(1.5em) el:amx-Bot el:amx-Pt(1.5em)">
          It's free!
        </h2>

        <p class="el:amx-Fs(1em)" style='line-height:1.5em'>
          Listing courses on Classpert has no financial costs or extra fees involved. In case
          instructors or platforms offer affiliate programs, Classpert may get commissions through
          it.
        </p>

        <h2 class="el:amx-Fs(1.5em) el:amx-Mt(1.5em)">
          Learn more
        </h2>

        <p class="el:amx-Fs(1em)" style='line-height:1.5em'>
          Read our <%= link_to 'documentation', listing_api_documentation_url, class: 'el:cmx-content-link' %> and
          learn how simple it is to connect your web site and have your courses listed on Classpert.
        </p>

        <h2 class="el:amx-Fs(1.25em) el:amx-Mt(1.5em)">
          Having trouble? Contact us
        </h2>

        <p class="el:amx-Fs(1em)" style='line-height:1.5em'>
          If you are having trouble connecting your web site with Classpert or want to send some
          feedback, <%= link_to 'contact us', contact_us_path, class: 'el:cmx-content-link' %>.
        </p>


      </div>
    </div>
  </div>
</div>
