<% content_for :meta do %>
  <title>Page Not Found - 404 | Classpert</title>
<% end %>

<% content_for :title do %>
  Page Not Found
<% end %>

<% content_for :art do %>
  <%= image_bundle_tag("media/svg/404.svg", width: '100%') %>
<% end %>

<% content_for :sub_title do %>
  Sorry! We can't find what you're looking for
<% end %>

<% content_for :action do %>
  <%= link_to 'Find a Course', root_path, class: 'el:m-button el:m-button--primary-flat' %>
<% end %>
