<% content_for :meta do %>
  <title>Site Maintenance - 503 | Classpert</title>
<% end %>

<% content_for :title do %>
  Service Unavailable
<% end %>

<% content_for :art do %>
  <%= image_pack_tag("media/svg/503.svg", width: '100%') %>
<% end %>

<% content_for :sub_title do %>
  Sorry, we're under maintenance!
<% end %>
