<% content_for :meta do %>
  <title>Privacy Policy | Classpert</title>
  <link ref='alternate' hreflang='pt-BR' href='<%= privacy_policy_url(subdomain: 'pt-BR') %>' />
  <meta name='description' content="Privacy Policy" />
  <meta property='og:description' content="Privacy Policy" />
<% end %>

<div class='el:amx-Mt(2em)' style='padding-bottom:6em'>
  <h1 class='el:amx-Ta(c) el:amx-Mb(1.5em)'>Privacy Policy</h1>
  <p>
    This privacy statement is valid for all Classpert.com websites (in any languages available) This
    document explains how the collection of personally identifiable information is processed during the
    use of our website. Personally identifiable information means all personal data, such as your name,
    physical address, e-mail addresses or other behavioral data as a user of the website. The protection
    of your personally identifiable information is very important to Classpert.com. If you have any
    questions or would like additional information on Classpert.com's data protection, please contact us at
    admin@classpert.com.  Our privacy policy is subject to updates due to the constant technological
    development, as well as any changes in our services or the legal situation that governs our
    business, among other reasons. Therefore, we ask that you review this document regularly to keep up
    to date on the changes.
  </p>
  <h2>1. Party responsible for data processing </h2>
  <p>
    The responsible party, according to Article 4 (7) of the European Data Protection General Regulation
    (GDPR), is Quero Cursos Online Servicos de Internet Ltda., Headquartered in Sao Paulo, Brazil.
  </p>
  <h2>2. Data protection contact point </h2>
  <p>
    To contact our data protection officer, send an e-mail to admin@classpert.com or via our above-mentioned
    postal address.
  </p>
  <h2>3. Your rights </h2>
  <p>
    Listed below are the rights attached to the personally identifiable information concerning you:
  </p>
  <h3>3.1. General right</h3>
  <p>
    The user has the right to information, correction, elimination, limitation of processing, opposition
    to processing and portability of data. If processing depends on your consent, you have the right to
    revoke it with effect for the future.
  </p>
  <h3>3.2. Rights in the processing of data based on legitimate interests</h3>
  <p>
    In accordance with Article 21 (1) of the GDPR, you have the right, at any moment and for reasons
    related to your individual situation, to oppose the processing of personally identifiable
    information relating to you, according to Article 6 (1) (processing of data on grounds of public
    interest) or Article 6 (1) (f) of the GDPR (data processing for the protection of a legitimate
    interest). The same applies to profiling based on this provision. In the event of objection on your
    part, we will stop processing your personally identifiable information, unless we present solid and
    legitimate grounds for processing that prevail over your interests, rights and freedoms, or if the
    processing of information contributes to defend, exercise or assert a legal claim.
  </p>
  <h3>3.3. Rights under direct advertising</h3>
  <p>
    If we process your personally identifiable information for the purposes of direct advertising, you
    have the right, under Article 21, paragraph 2, of the GDPR, to oppose its processing for that
    purpose at any time. The same applies to profiling, where appropriate, insofar as it is associated
    with such direct advertising.  In case of objection on your part, we will stop processing your
    personally identifiable information for these purposes.
  </p>
  <h3>3.4. Right to complain to a supervisory authority</h3>
  <p>
    You have the right to complain to a supervisory authority regarding the protection of data about the
    processing performed by Classpert.com of your personally identifiable information.
  </p>
  <h2>4. Collection of personally identifiable information when visiting our website</h2>
  <p>
    If you only use our website for informational purposes, that is, if you do not register or provide us with any information, we will only collect the personal identification information that your browser transmits to our server. We will only collect the data technically necessary to properly display our site and ensure its stability and security. We will only use this information in case of suspected misuse, in order to facilitate the identification of the responsible person. The legal basis for this is Article 6 (1) (f) of the GDPR, which cites the information that can be collected. They are detailed below:
  <p>
    - IP address, date and time of the query, in relation to the Greenwich Mean Time (GMT), the content of the request, access status / HTTP status code, volume of data transferred in each case, website receiving the request, browser, operating system and respective interface, language and version of the browser.
  </p>
  </p>
  <h2>5. Contact by email or contact form (customer service)</h2>
  <p>
    By contacting us via email or through a contact form, we will store the data provided by you (email address, possibly your name and phone number) so that we can address your questions. The provision of this information is made expressly, voluntarily and with your consent, according to Article 6, paragraph 1-a) of the GDPR. If the data provided includes information regarding communication channels (such as your email address or telephone number), we would like to point out that, where appropriate, we may contact you through this communication channels to respond to your request. You may revoke this consent at any time with effect for the future.
  </p>
  <p>
    We will delete the data that appears in this context when its storage is no longer necessary. If there are legal retention requirements, we will limit the processing of this type of data.
  </p>
  <h2>6. Newsletter</h2>
  <h3>6.1. General information</h3>
  <p>
    With your consent, pursuant to Article 6, paragraph 1-a) of the GDPR, you may subscribe to our newsletter, which will provide you with information about our current offers.
  </p>
  <p>
    The only requirement for sending the newsletter is your email address. Upon your confirmation, we will store your email address for the purpose of sending you the newsletter. The legal basis for this is Article 6 (1) (a) of the GDPR.
  </p>
  <p>
    Your consent to the sending of the newsletter may be revoked at any time and this will cause the subscription to be canceled. To cancel, simply click on the link provided in each newsletter email or contact the above-mentioned data protection e-mail.
  </p>
  <h3>6.2. Newsletter tracking</h3>
  <p>
    We evaluate your behavior as a user when we send the newsletter. For this evaluation, outgoing emails include tracking pixels stored on our website. In order to carry out the evaluations, we cross-reference the mentioned data and the tracking pixels with your email address and an individual identifier.
  </p>
  <p>
    We use this data to adapt the newsletter to your interests. By doing so, we get the information of when you read them and clicked. We cross this data with actions you have taken on our website.
  </p>
  <p>
    You may object to this data record at any time. To do this, just click on the link provided in each email. We will keep the information while your subscription to the newsletter remains active. Once deactivated, we will save the data anonymously and for purely statistical purposes.
  </p>
  <h2>7. Personal Account</h2>
  <p>
    The user can subscribe to the site Classpert.com and create an account. We collect and save the following data in the registration:
  </p>
  <p>
    - Email
    - Password
  </p>
  <p>
    It is mandatory to provide the above data. You may voluntarily provide further information in the logged in area.
  </p>
  <p>
    Registration is voluntary, but may be mandatory to use some of our services.
  </p>
  <p>
    If you decide to create reviews and descriptions, you may choose personal identification information that Classpert.com. and platform visitors can see. You can change these settings at any time. Classpert.com does not publish personally identifiable information without receiving express consent from you to that effect.
  </p>
  <p>
    In case of cancellation of the account, we will continue to store the data that you provided voluntarily during the time you used the portal for statistical purposes. However, you may request that we delete the data if you wish. The legal basis for this is Article 6 (1) (a) (b) and (f) of the GDPR.
  </p>
  <h2>8. Registration and Login Tools</h2>
  <h3>8.1. Facebook Connect</h3>
  <p>
    You can subscribe and log in to Classpert.com using your Facebook account. If you do so through Facebook, it will ask for your permission to provide us with certain data that appears on your Facebook account. This may include your first name, surname and email address, gender, location, time zone, date of birth, profile photo, information about your preferences, and your friends list.
  </p>
  <p>
    Facebook will collect this data and transmit it to Classpert.com in accordance with Facebook's privacy policy. You can control the information we receive from Facebook using the privacy settings of your Facebook account.
  </p>
  <p>
    This data will be used to create, supply and customize your account. The legal basis for this is Article 6 (1) (a) (b) and (f) of the GDPR.
  </p>
  <p>
  If you subscribe to the platform through Facebook, your Classpert.com account will automatically be linked to your Facebook account and information about your activities on our website, if applicable, may be shared on Facebook and published in your chronology and feed of news.
  </p>
  <h3>8.2. Google+ / Gmail</h3>
  <p>
    You can also sign up and log in with your Google + / Gmail account. Google will request your permission to provide us with certain details of your account, such as: your first name, last name, email address, gender, your profile photo, and friends list. Google will collect this data and transmit it to Classpert.com in accordance with Google's privacy policy.
  </p>
  <p>
    People in your Google+ circles will be able to see information related to the activities you performed on our website. In addition, this information will be shared by Google in accordance with their respective terms and conditions of use and privacy policy. For more details about managing the activities that are shared in your Google+ account, see the Google help page. On the Google+ app settings page, you can determine which people in your Google+ circles can view your activities on our website.
  </p>
  <p>
    This data will be used to create and customize your account. The legal basis for this is Article 6 (1) (a) (b) and (f) of the GDPR.
  </p>
  <h3>8.3. LinkedIn</h3>
  <p>
    You can subscribe to and log in to Classpert.com using your LinkedIn account. This will request your permission to provide us with certain data that appears on your LinkedIn account. LinkedIn will collect this data and transmit it to Classpert.com in accordance with LinkedIn's privacy policy. You can control the information we receive from LinkedIn using the privacy settings of your LinkedIn account.
  </p>
  <p>
    This data will be used to create, supply and customize your account. The legal basis for this is Article 6 (1) (a) (b) and (f) of the GDPR.
  </p>
  <h3>8.4. GitHub</h3>
  <p>
    The user can sign up and log in to Classpert.com using his GitHub account. This will request your permission to provide us with certain details that appear in your GitHub account. Github will collect this data and transmit it to Classpert.com in accordance with GitHub's privacy policy. You may control the information we receive from Github using the privacy settings of your GitHub account.
  </p>
  <p>
    This data will be used to create, supply and customize your account. The legal basis for this is Article 6 (1) (a) (b) and (f) of the GDPR.
  </p>
  <h2>9. Use of cookies</h2>
  <p>
    During the use of our website, cookies will be stored on your device. Cookies are small text files that are stored on your hard drive assigned to the browser you use. Cookies can not run programs or infect your device with viruses. They serve to make the website globally more intuitive and efficient. We also use cookies to recognize your device for future visits.
  </p>
  <p>
    This website uses the following types of cookies, whose scope and function are explained below:
  </p>
  <h3>9.1. Temporary Cookies</h3>
  <p>
    These cookies are automatically deleted when you close your browser. In particular, this category includes session cookies, which store a "session identifier" through which you can assign different requests from your browser to the joint session. Such a cookie will allow your device to be recognized again when you return to our website. Session cookies are deleted when you log off or close the browser.
  </p>
  <h3>9.2. Persistent Cookies</h3>
  <p>
  These cookies are automatically deleted after a set amount of time that varies depending on the cookie. You may delete cookies in your browser's security settings at any time.
  </p>
  <h3>9.3. Prevent cookies</h3>
  <p>
    You can configure your browser according to your preferences and, for example, reject third party cookies or any kind of cookies. But be aware that in this case it may not be possible to use all the functions of the website.
  </p>
  <h3>9.4. Legal basis and storage period</h3>
  <p>
    The legal bases for the possible processing of personally identifiable information and their storage period vary and are described in the following sections.
  </p>
  <h2>10. Analysis and optimization</h2>
  <p>
  For the purpose of analyzing and optimizing our website, we use different services described in this section. These services allow us to analyze, for example, how many users access our site, which information is most sought after. The data we collect includes the websites from which a particular user comes to our website ("referral"), which subpages on the website are visited and how often, as well as the length of time that users remain on those pages. This information helps us improve the experience on our website and to make it more intuitive. The data collected is not intended to personally identify individual users. The legal basis for this is Article 6 (1) (f) of the GDPR.
  </p>
  <h3>10.1. Google Analytics</h3>
  <p>
    This website uses Google Analytics, a web analytics service provided by Google Inc. (1600 Amphitheater Parkway Mountain View, CA 94043, USA).
  </p>
  <p>
    Google Analytics uses cookies that allow your use of the website to be reviewed. Google will use this information on behalf of the operator of this website to evaluate your use of it for the purpose of compiling reports on the activity of the website and providing other services related to the use of the website and the internet to the respective operator. The legal basis for the use of Google Analytics is Article 6, paragraph 1-f) of the GDPR. The data we send and associated with cookies, user information (for example, the user's IP address) and promotional identifiers are deleted after 12 months from the last use of our services. Data whose expiration period has arrived are automatically deleted. For more information about terms and conditions of use and data protection, please see https://www.google.com/analytics/terms/en.html and https://policies.google.com/?hl=en.
  </p>
  <p>
    You can prevent the storage of cookies by adjusting the appropriate settings in your browser. However, please be aware that in doing so, you may not be able to fully utilize some website functions. You may also prevent data created by the cookie and related to your use of the website (including the IP address) from being collected and processed by Google. To do this, download and install the Google Analytics opt-out extension, available at https://tools.google.com/dlpage/gaoptout. Disabling cookies will prevent this website from collecting your data on future visits. To prevent Universal Analytics from collecting data on multiple devices, you must deactivate it on all systems you use.
  </p>
  <h3>10.2. Google Tag Manager</h3>
  <p>
    For transparency reasons, we inform you that we use Google Tag Manager. This system does not collect any personally identifiable information. Tag manager allows us to incorporate and manage our tags more easily. Tags are snippets of code that measure user traffic and behavior, record the effects of online advertising and social channels for the purpose of remarketing operations focused on a particular audience. Help test and optimize the site, among other actions. For more information about Google Tag Manager, see: https://www.google.com/analytics/tag-manager/use-policy/
  </p>
  <h3>10.3. Hotjar</h3>
  <p>
    We collect and store data for optimization purposes of this site using Hotjar Ltd. technologies (https://www.hotjar.com/). Data collected with Hotjar technologies are not used to personally identify visitors to this website and will not be associated with individual user information without the express consent of the individual in question. At any time, you may disable the collection of information by Hotjar on sites that have this service enabled. To do so, visit the Hotjar deactivation page, available at https://www.hotjar.com/legal/compliance/opt-out, and click on "Disable Hotjar" or enable the Do Not Track option ( DNT) in your browser.
  </p>
  <h2>11. Advertising</h2>
  <p>
    We use cookies and pixels for marketing purposes in order to approach our users with advertising best suited to their interests. We also use cookies to evaluate the effectiveness of our advertising efforts. This information may also be shared with third parties, such as ad networks, and serve the legitimate direct marketing interest. The legal basis for this is Article 6 (1) (a) and (f) of the GDPR. At any time, you may object to the processing of your data for purposes related to this type of advertising. This may prevent the storage of cookies through your browser settings.
  </p>
  <h3>11.1. Advertising on Google</h3>
  <p>
    To make ads to advertise our services, we use tools provided by Google (such as Google Adwords). In this context, we use conversion tracking to present personalized online ads based on the interests and behavior of users on our website.
  </p>
  <p>
    Ads are served based on searches performed on Google's ad network websites. We were able to combine our ads with certain search terms. By using cookies, we were able to display ads based on your previous visits to our website.
  </p>
  <p>
    When you click on an ad, Google places a cookie on the ad's device. For more information about the cookie technology used, please see Google's statements regarding website statistics, as well as its data privacy policy.
  </p>
  <p>
    Using this technology, we and Google as customers of the same, we received information that a user clicked on the ad and was redirected to our websites. Information acquired in this way is only used for statistical analysis related to ad optimization. We have not received any information that allows us to personally identify a visitor.
  </p>
  <p>
    If you do not wish to be part of these statistics, you may prevent the storage of cookies that this technology uses when adjusting the settings in your browser. In that case, your visit will not be incorporated into user statistics.
  </p>
  <p>
    In addition, you can opt out of interest-based ads on Google through ad settings. Alternatively, you can disable the use of cookies by third parties through the Network Advertising Initiative deactivation tool.
  </p>
  <p>
    However, we and Google will continue to receive statistical information about how many users visit this site and when.
  </p>
  <h3>11.2. Advertising on Facebook and Instagram</h3>
  <p>
    Facebook and Instagram Ads (from Facebook Inc., 1601 S. California Avenue, Palo Alto, CA 94304) is also used as part of online advertising strategy of our website. Your use behavior, which does not allow your personal identification, may be transmitted to Facebook for analysis and marketing purposes. In this process, a Facebook pixel is set up, which will allows us to collect information about your activities on the website (such as browsing behavior, visited pages, etc.). Your IP address is stored and used for geographic modulation.
  </p>
  <p>
    For more information about the purpose and extent of data collection and further processing and use as well as privacy settings, see Facebook's privacy policy.
  </p>
  <h2>12. Data transfer</h2>
  <p>
    As a general rule, your data will not be transmitted to third parties unless there is a legal obligation to do so or if you have given your express consent to the transfer.
  </p>
  <p>
    When you are directed to a third-party site from Classpert.com, also note the data privacy policy of the respective service provider. They responsible for the content of the services they offer, although we evaluate their services in terms of compliance with legal requirements to a reasonable extent.
  </p>
  <h2>13. Data security</h2>
  <p>
    We take reasonable technical and operational safety precautions to protect your data from tampering, loss, destruction or unauthorized access by unauthorized persons, whether intentional or accidentally. Our security measures are regularly reviewed and updated in line with technological advances.
  </p>
  <p>
    Last updated: May 2019
  </p>
</div>
