<h1 class='mx-Ta(c) mx-Mb(20px)'>Política de Privacidad</h1>

<p>
  La presente política de privacidad es válida para todos los sitios de Quero.com (los sitios web de búsqueda de cursos en cualquier idioma disponible).	
  Este documento explica cómo se realiza la recolección de información personal de identificación durante el uso de nuestro sitio web. Se entiende por información personal de identificación todos los datos relativos a su persona, como el nombre, dirección física, direcciones de correo electrónico u otros datos de comportamiento como usuario del sitio web. La protección de su información personal de identificación es muy importante para Quero.com. Si tiene alguna duda o desea obtener información adicional sobre la protección de datos de Quero.com, póngase en contacto con el correo electrónico info@quero.com.
  Nuestra política de privacidad está sujeta a actualizaciones debido al constante desarrollo tecnológico, así como cualquier cambio en nuestros servicios o en la situación jurídica que rige nuestro negocio, entre otras razones. De este modo, le pedimos que consulte este documento regularmente para mantenerse al día sobre los cambios.
</p>
<h2>1. Parte responsable del procesamiento de datos</h2>
<p>
  La parte responsable, de acuerdo con el Artículo 4 (7) del Reglamento General sobre la protección de datos (RGPD) de la Unión Europea, es el sitio web de servicios de Internet, con sede en XYZ.
</p>
<h2>2. Punto de contacto del responsable de la protección de datos</h2>
<p>
  Para ponerse en contacto con nuestro encargado de la protección de datos, por favor, envíe e-mail a info@quero.com.
</p>
<h2>3. Sus derechos</h2>
<p>
  A continuación se enumeran los derechos vinculados a la información de identificación relativa a su persona:
</p>
<h3>3.1. Derechos generales</h3>
<p>
  El usuario tiene el derecho a la información, corrección, eliminación, limitación de procesamiento, oposición al procesamiento y portabilidad de los datos. Si el procesamiento depende de su consentimiento, tiene el derecho de revocarlo con efectos para el futuro.
</p>
<h3>3.2. Derechos en el tratamiento de datos basados ​​en intereses legítimos</h3>
<p>
  De acuerdo con el artículo 21 (1) de RGPD, el usuario tiene el derecho en cualquier momento y por razones relacionadas con su situación individual, para revocar el tratamiento de la información de identificación personal con respecto a su persona, de acuerdo con el artículo 6 (1) (el procesamiento de datos por razones de interés público) o en el artículo 6, párrafo 1 f) de procesamiento RGPD (procesamiento de datos para la protección de un interés legítimo). En caso de objeción de su parte, dejaremos de procesar su información personal de identificación, a menos que presentamos fundamentos sólidos y legítimos para el procesamiento que prevalezcan sobre sus intereses, derechos y libertades, o si el procesamiento de las informaciones contribuye a defender, ejercer o hacer una solicitud legal.
</p>
<h3>3.3. Derechos en el ámbito de la publicidad directa</h3>
<p>
  Si procesamos su información personal de identificación a efectos de publicidad directa, tiene derecho, de conformidad con el artículo 21, párrafo 2, del RGPD, oponerse en todo momento a su procesamiento con tal fin. 
</p>
<p>
  En caso de objeción por su parte, dejar de procesar su información personal de identificación para estos fines.
</p>
<h3>3.4. Derecho a presentar una queja a una autoridad de supervisión</h3>
<p>
  El usuario tiene el derecho de presentar una queja a una autoridad de supervisión en relación con la protección de datos acerca del procesamiento realizado por Quero.com de su información personal de identificación.
</p>
<h2>4. Recolección de información personal de identificación al visitar nuestro sitio web</h2>
<p>
  Si sólo utiliza nuestro sitio web para fines informativos, o sea, si no se inscribe ni nos proporciona ninguna información, sólo recogeremos la información personal de identificación que su navegador transmita a nuestro servidor. Sólo recogeremos los datos técnicamente necesarios para mostrar adecuadamente nuestro sitio y para garantizar su estabilidad y seguridad. Sólo utilizaremos esta información en caso de sospechas de uso indebido, para facilitar la identificación de la persona responsable. La base jurídica para esto es el artículo 6 (1) (f) RGPD, que cita las informaciones que se pueden recoger. Abajo se detallan estas informaciones:
</p>
<p>
  - Dirección IP, fecha y hora de la consulta - en relación al Tiempo Medio de Greenwich (GMT), el contenido de la solicitud, estado de acceso / código de estado HTTP, volumen de datos transferidos en cada caso, sitio web que recibe la solicitud, el navegador, el sistema operativo y su interfaz, idioma y versión de software del navegador.
</p>
<h2>5. Contacto por e-mail o formulario de contacto (customer service)</h2>
<p>
  Al ponerse en contacto con nosotros vía email oa través de un formulario de contacto, almacenaremos los datos que nos proporcionó (dirección de correo electrónico, posiblemente su nombre y número de teléfono), para que podamos responder a sus preguntas. El suministro de esta información se realiza de forma expresa, voluntaria y con su consentimiento, según el artículo 6, párrafo 1 a), del RGPD. Si los datos proporcionados incluyen información sobre canales de comunicación (como su dirección de correo electrónico o número de teléfono), resaltamos que, cuando sea apropiado, podremos entrar en contacto a través de este canal de comunicación para responder a su solicitud. Este consentimiento también podrá ser revocado en cualquier momento con efectos para el futuro.
</p>
<p>
  Eliminaremos los datos que aparezcan en este contexto cuando su almacenamiento deje de ser necesario. Si existen requisitos de retención legales, limitaremos el tratamiento de este tipo de datos.
</p>
<h2>6. Boletín de noticias</h2>
<h3>6.1. Información general</h3>
<p>
  Con su consentimiento, conforme al Artículo 6, párrafo 1 a), del RGPD, podrá suscribirse a nuestro boletín, que le proporcionará información sobre nuestras ofertas corrientes.
</p>
<p>
  El único requisito para enviar el boletín es su dirección de correo electrónico. Después de su confirmación, guardaremos su dirección de correo electrónico con el propósito de enviarle la newsletter. La base jurídica a tal efecto es el artículo 6, párrafo 1 bis), del RGPD.
</p>
<p>
  Su consentimiento para el envío del boletín podrá ser revocado en cualquier momento y ello ocasionará la cancelación de la suscripción de lo mismo. Para realizar la cancelación, basta hacer un clic en el enlace proporcionado en cada correo electrónico del boletín o entrar en contacto con el citado email del encargado de la protección de datos.
</p>
<h3>6.2. Seguimiento del boletín</h3>
<p>
  Ten en cuenta que evaluamos tu comportamiento como usuario cuando enviamos los boletines. Para esta evaluación, los correos electrónicos enviados incluyen píxeles de seguimiento, almacenados en nuestro sitio web. Para realizar las evaluaciones, hacemos un cruce de los datos mencionados y los píxeles de seguimiento con su dirección de e-mail y un identificador individual.
</p>
<p>
  Nosotros utilizamos estos datos para adaptar el boletín a sus intereses. Al hacerlo, registramos cuando las leyó y en qué enlaces hizo clic. Cruzamos estos datos con acciones que efectuó en nuestro sitio web.
</p>
<p>
Puede oponerse a este registro de datos en cualquier momento. Para tal, basta hacer un clic en el enlace proporcionado en cada correo electrónico. Guardaremos la información mientras su suscripción al boletín permanezca activa. Una vez desactivada, guardaremos los datos anónimamente y para fines puramente estadísticos.
</p>
<h2>7. Cuenta Personal</h2>
<p>
  El usuario puede inscribirse en el sitio Quero.com y crear una cuenta. Recogemos y guardamos los siguientes datos en la inscripción:
</p>
<p>
  - E-mail
  - Contraseña:
</p>
<p>
  Es obligatorio proporcionar los datos antes mencionados. El usuario puede proporcionar voluntariamente otras informaciones en el área de registro.
</p>
<p>
  La inscripción es voluntaria, pero puede ser necesaria para utilizar algunos de nuestros servicios.
</p>
<p>
  Si decide crear evaluaciones y descripciones, puede elegir las informaciones personales de identificación que desea dejar disponible para los visitantes de la plataforma. Puede modificar esta configuración en cualquier momento. Quero.com no publica sus informaciónes personales de identificación sin recibir el consentimiento expreso de su parte en ese sentido.
</p>
<p>
  En caso de cancelación de la cuenta, seguiremos guardando los datos que proporcionó voluntariamente durante el tiempo que utilizó el portal para fines estadísticos. Sin embargo, el usuario puede solicitar que borramos los datos si así lo desea. La base jurídica a tal efecto es el artículo 6, párrafo 1 a), b) y f) del RGPD.
</p>
<h2>8. Herramientas de registro y inicio de sesión</h2>
<h3>8.1. Facebook Connect</h3>
<p>
  El usuario puede registrarse o iniciar una sesión en Quero.com utilizando su cuenta de Facebook. Si lo hace a través de Facebook, éste le solicitará su permiso para proporcionarnos ciertos datos que figuran en su cuenta de Facebook. Estos datos pueden incluir su nombre, apellido y dirección de correo electrónico, sexo, ubicación, su zona horaria, fecha de nacimiento, foto de perfil, información sobre sus preferencias y su lista de amigos.
</p>
<p>
  Facebook recopilará estos datos y los transmitirá a Quero.com de acuerdo con la política de privacidad de Facebook. El usuario puede controlar la información que recibimos de Facebook utilizando la configuración de privacidad de su cuenta de Facebook.
</p>
<p>
  Estos datos se utilizarán para crear, proporcionar y personalizar su cuenta. La base jurídica a tal efecto es el artículo 6, párrafo 1 a), b) y f) del RGPD.
</p>
<p>
  Si se inscribe en la plataforma a través de Facebook, su cuenta de Quero.com se conectará automáticamente a su cuenta de Facebook y la información sobre sus actividades en nuestro sitio web, si corresponde, podrá ser compartida en Facebook y publicadas en su actualización de novedades.
</p>
<h3>8.2. Google+ / Gmail</h3>
<p>
  El usuario también puede inscribirse y iniciar una sesión con su cuenta de Google + / Gmail. Google solicitará su permiso para proporcionar ciertos datos de su cuenta, como: su nombre, apellido, dirección de correo electrónico, sexo, su foto de perfil y lista de amigos. Google recopilará estos datos y los transmitirá a Quero.com de acuerdo con la política de privacidad de Google.
</p>
<p>
  Las personas que forman parte de sus círculos de Google+ podrán ver información relacionada con las actividades que realizó en nuestro sitio web. Además, esta información será compartida por Google de conformidad con sus términos y condiciones de uso y la política de privacidad. Para más detalles sobre la gestión de las actividades que se comparten en tu cuenta de Google+, consulta la página de ayuda de Google. En la página de configuración de la aplicación de Google+, puede determinar qué personas de sus círculos de Google+ pueden ver sus actividades en nuestro sitio web.
</p>
<p>
  Estos datos se utilizarán para crear y personalizar su cuenta. La base jurídica a tal efecto es el artículo 6, párrafo 1 a), b) y f) del RGPD.
</p>
<h3>8.3. Linkedin</h3>
<p> 
  El usuario puede inscribirse y entrar en Quero.com utilizando su cuenta de LinkedIn. Este solicitará su permiso para proporcionarnos determinados datos que constan en su cuenta de LinkedIn. LinkedIn recopilará estos datos y transmitirálos a Quero.com de conformidad con la política de privacidad de LinkedIn. El usuario podrá controlar la información que recibimos de LinkedIn utilizando la configuración de privacidad de su cuenta de LinkedIn.
</p>
<p>
  Estos datos se utilizarán para crear, proporcionar y personalizar su cuenta. La base jurídica a tal efecto es el artículo 6, párrafo 1 a), b) y f) del RGPD.
</p>
<h3>8.4. GitHub</h3>
<p>
  El usuario puede inscribirse y registrarse en Quero.com utilizando su cuenta de GitHub. Este solicitará su permiso para proporcionarnos determinados datos que constan en su cuenta de GitHub. Github recopilará estos datos y los transmitirá a Quero.com de acuerdo con la política de privacidad de GitHub. El usuario podrá controlar la información que recibimos de Github utilizando la configuración de privacidad de su cuenta de GitHub.
</p>
<p>
  Estos datos se utilizarán para crear, proporcionar y personalizar su cuenta. La base jurídica a tal efecto es el artículo 6, párrafo 1 a), b) y f) del RGPD.
</p>
<h2>9. Utilización de cookies</h2>
<p>
  Durante el uso de nuestro sitio web, se almacenan cookies en su dispositivo. Las cookies son pequeños archivos de texto que se almacenan en el disco duro asignado al navegador que utiliza. Las cookies no pueden ejecutar programas ni infectar su dispositivo con virus. Sirven para hacer el sitio web globalmente más intuitivo y eficiente. También utilizamos cookies para reconocer su dispositivo en futuras visitas.
</p>
<p>
  Este sitio web utiliza los siguientes tipos de cookies, cuya extensión y función se explican a continuación:
</p>
<h3>9.1. Cookies temporales</h3>
<p>
  Estas cookies se eliminan automáticamente al cerrar el navegador. En particular, forman parte de esta categoría las cookies de sesión, que guardan un "identificador de sesión" mediante el cual se pueden asignar diferentes solicitudes procedentes de su navegador a la sesión conjunta. Esta cookie permitirá que su dispositivo sea reconocido de nuevo cuando regrese a nuestro sitio web. Las cookies de sesión se eliminan cuando termina la sesión o cierra el explorador.
</p>
<h3>9.2. Cookies persistentes</h3>
<p>
  Estas cookies se eliminan automáticamente después de un período de tiempo configurado que varía según la cookie. Puede eliminar cookies en la configuración de seguridad de su navegador en cualquier momento.
</p>
<h3>9.3. Impedir las cookies</h3>
<p>
  Puede configurar su navegador de acuerdo con sus preferencias y, por ejemplo, rechazar cookies de terceros o de cualquier tipo. Pero sepa que, en ese caso, puede que no sea posible utilizar todas las funciones del sitio web.
</p>
<h3>9.4. Bases jurídicas y período de almacenamiento</h3>
<p>
  Las bases jurídicas para el posible procesamiento de información personal de identificación y su período de almacenamiento varían y se describen en las siguientes secciones.
</p>
<h2>10. Análisis y optimización</h2>
<p>
  A efectos de análisis y optimización de nuestro sitio web, utilizamos diferentes servicios que se describen en esta sección. Estos servicios nos permiten analizar, por ejemplo, cuántos usuarios acceden a nuestro sitio, cuáles son las informaciones más buscadas. Los datos que recopilamos incluyen los sitios web desde los que un usuario llega hasta nuestro sitio web ("referencia"), que subpáginas en el sitio web se visitan y con qué frecuencia, así como el período de tiempo que los usuarios permanecen en esas páginas. Esta información nos ayuda a mejorar la experiencia en nuestro sitio web y hacerla más intuitiva. Los datos recogidos no sirven para identificar personalmente a usuarios individuales. El fundamento jurídico a este efecto es el artículo 6, párrafo 1, f), del RGPD.
<p>
<h3>10.1. Google Analytics</h3>
<p>
  Este sitio web utiliza Google Analytics, un servicio de análisis web proporcionado por Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, EE.UU.).
</p>
<p>
  Google Analytics utiliza cookies que le permiten analizar su uso del sitio web. Google utilizará esta información en nombre del operador de este sitio web para evaluar su uso del mismo con el fin de recopilar informes sobre la actividad del sitio web y ofrecer otros servicios relacionados con el uso del sitio web y de Internet al operador. El fundamento jurídico para el uso de Google Analytics es el artículo 6, párrafo 1, f), del RGPD. Los datos por nosotros enviados y asociados a las cookies, la información sobre los usuarios (por ejemplo, la dirección IP del usuario) y los identificadores de promoción se eliminan después de 12 meses desde la última utilización de nuestros servicios. Los datos cuyo período de almacenamiento ha caducado se eliminan automáticamente. Para obtener más información sobre los términos y las condiciones de uso y la protección de datos, consulte https://www.google.com/analytics/terms/es.html y https://policies.google.com/?hl= pt.
</p>
<p>
  El usuario puede impedir el almacenamiento de cookies ajustando la configuración adecuada en su navegador. Sin embargo, sepa que, al hacerlo, puede que no sea posible utilizar en su totalidad algunas funciones de nuestro sitio web. El usuario también puede impedir que los datos creados por la cookie y relacionados con su uso del sitio web (incluida la dirección IP) sean recogidos y procesados ​​por Google. Para ello, descargue e instale la extensión para deshabilitar Google Analytics, disponible en https://tools.google.com/dlpage/gaoptout?hl=es. Las cookies de deshabilitación impedirán que este sitio web recopila sus datos en futuras visitas. Para impedir que Universal Analytics recopile datos en varios dispositivos, debe deshabilitarlos en todos los sistemas utilizados.
</p>
<h3>10.2. Google Tag Manager</h3>
<p>
  Por motivos de transparencia, informamos que utilizamos Google Tag Manager. Este sistema no recoge ninguna información de identificación personal. Tag manager nos permite incorporar y gestionar nuestras tags más fácilmente. Las tags son pequeños fragmentos de código que miden el tráfico y el comportamiento de los usuarios, registran los efectos de la publicidad en línea y de los canales sociales, para fines de operaciones de remarketing con foco en determinado público-objetivo. Ayudan a probar y optimizar el sitio, entre otras acciones. Para obtener más información acerca de Google Tag Manager, consulte: https://www.google.com/analytics/tag-manager/use-policy/
</p>
<h3>10.3. Hotjar</h3>
<p>
  Recogemos y almacenamos datos para optimizar este sitio utilizando tecnologías de Hotjar Ltd. (https://www.hotjar.com/). Los datos recogidos con tecnologías Hotjar no se utilizan para identificar personalmente a los visitantes de este sitio web y no se asocian a la información individual del usuario sin el expreso consentimiento del individuo en cuestión. En cualquier momento, el usuario puede desactivar la recopilación de información por parte de Hotjar en los sitios que tienen este servicio habilitado. Para ello, visite la página de deshabilitación de Hotjar, disponible en https://www.hotjar.com/legal/compliance/opt-out, y haga clic en "Disable Hotjar" (desactivar Hotjar)  o active la opción Do Not Track (DNT) en su navegador.
</p>
<h2>11. Publicidad</h2>
<p>
  Utilizamos cookies y píxeles para fines de marketing para abordar a nuestros usuarios con una publicidad más adecuada a sus intereses. También utilizamos cookies para evaluar la eficacia de nuestros esfuerzos publicitarios. Esta información también podrá ser compartida con terceros, como redes de publicidad y sirven al interés legítimo de marketing directo. La base jurídica a tal efecto es el artículo 6, párrafo 1 a) y f) del RGPD. En cualquier momento, el usuario podrá oponerse al procesamiento de sus datos para fines relacionados con este tipo de publicidad. Para esto puede impedir el almacenamiento de cookies a través de la configuración de su navegador.
</p>
<h3>11.1. Publicidad en Google</h3>
<p>
  Para realizar anuncios para divulgar nuestros servicios, utilizamos herramientas disponibles por Google (como Google Adwords). En este contexto, utilizamos el acomapañiamiento de conversiones con el fin de presentar anuncios en línea personalizados en función de los intereses y el comportamiento de los usuarios en nuestro sitio web.
</p>
<p>
  Los anuncios se muestran en función de las búsquedas realizadas en los sitios web de la red de publicidad de Google. Hemos logrado combinar nuestros anuncios con determinados términos de búsqueda. Mediante la utilización de cookies, conseguimos presentar anuncios basados ​​en las visitas anteriores del usuario a nuestro sitio web.
</p>
<p>
  Al hacer clic en un anuncio, Google coloca una cookie en el dispositivo del mismo. Para obtener más información sobre la tecnología de cookies utilizada, consulte las declaraciones de Google acerca de las estadísticas del sitio web, así como la política de privacidad de los datos.
</p>
<p>
  Utilizando esta tecnología, Google y nosotros, como clientes de la misma, recibimos la información de que un usuario hizo clic en el anuncio y fue redirigido a nuestros sitios web. La información adquirida de esta forma sólo se utiliza para análisis estadísticos relacionados con la optimización de los anuncios. No recibimos ninguna información que nos permita identificar personalmente a un visitante.
</p>
<p>
  Si no desea formar parte de estas estadísticas, puede impedir el almacenamiento de las cookies que utiliza esta tecnología al ajustar la configuración de su navegador. En este caso, su visita no se incorporará a las estadísticas de los usuarios.
</p>
<p>
  Además, el usuario puede desactivar anuncios basados ​​en intereses en Google a través de la configuración de los anuncios. Como alternativa, puede deshabilitar el uso de cookies por terceros mediante la herramienta de desactivación de Network Advertising Initiative.
</p>
<p>
  Sin embargo, tanto nosotros como Google seguiremos recibiendo información estadística sobre cuántos usuarios visitan este sitio y cuándo.
</p>
<h3>11.2. Publicidad en Facebook e Instagram</h3>
<p>
  Los anuncios no Facebook e Instagram (de Facebook Inc., 1601 S. California Avenue, Palo Alto, CA 94304) también son utilizados como parte de la publicidad en línea de nuestro sitio web. Su comportamiento de uso, que no permite su identificación personal, podrá ser transmitido a Facebook para fines de análisis y marketing. En este proceso, se configura un píxel de Facebook en nuestro sitio, que le permitirá recopilar información sobre sus actividades en el sitio web (como el comportamiento de navegación, las páginas visitadas, etc.). Su dirección IP se almacena y se utiliza para la modulación geográfica.
</p>
<p>
  Para obtener más información sobre el propósito y la extensión de la recopilación de datos y el procesamiento y el uso, así como sobre la configuración de privacidad, consulte la política de privacidad de Facebook.
</p>
<p>
  12. Transmisión de datos
</p>
<p>
  Como regla general, sus datos no serán transmitidos a terceros, salvo si existe una obligación legal en ese sentido o si ha dado su consentimiento expreso para la transferencia.
</p>
<p>
  Al ser dirigido a un sitio de terceros, desde Quero.com, tenga también en cuenta la política de privacidad de datos de su proveedor de servicios. Ellos son responsables por el contenido de los servicios que ofrecen, aunque evaluamos los servicios en términos de conformidad con los requisitos legales en una medida razonable.
</p>
<h2>13. Seguridad de los datos</h2>
<p>
  Nosotros actuamos para tomar las debidas precauciones de seguridad técnicas y operativas para proteger sus datos contra manipulación, pérdida, destrucción o acceso por parte de personas no autorizadas, ya sea intencional o accidental. Nuestras medidas de seguridad se revisan periódicamente y se actualizan en línea con los avances tecnológicos.
</p>
<p>
  Última actualización: Septembre de 2018
</p>
