<% content_for :meta do %>
  <title>Política de Privacidade | Classpert</title>
  <meta name='description' content="Política de Privacidade" />
  <meta property='og:description' content="Política de Privacidade" />
<% end %>

<div class='mx-Mt-2' style='padding-bottom:6em'>
<h1 class='mx-Ta(c) mx-Mb-1d5'>Política de Privacidade</h1>
<p>
  A presente declaração de privacidade é válida para todos os websites da Classpert.com (os websites de
  pesquisa de cursos em quaisquer línguas disponibilizadas).  Este documento explica como se
  processa a coleta de informações pessoais de identificação durante a utilização do nosso website.
  Entende-se por informações pessoais de identificação todos os dados relativos à sua pessoa, como o
  nome, endereço físico, endereços de e-mail ou outros dados de comportamento enquanto usuário do
  website. A proteção das suas informações pessoais de identificação é muito importante para a
  Classpert.com. Se tiver alguma dúvida ou pretender obter informações adicionais sobre a proteção de
  dados da Classpert.com, entre em contato através do e-mail admin@classpert.com.
  A nossa política de privacidade está sujeita a atualizações devido ao constante desenvolvimento
  tecnológico, bem como eventuais alterações nos nossos serviços ou na situação jurídica que rege o
  nosso negócio, entre outras razões. Deste modo, solicitamos que consulte este documento
  regularmente para se manter atualizado sobre as alterações.
</p>
<h2>1. Parte responsável pelo processamento de dados</h2>
<p>
  A parte responsável, de acordo com o Artigo 4.º (7) do Regulamento Geral sobre a Proteção de Dados
  (RGPD) da União Europeia, é a Quero Cursos Online Servicos de Internet Ltda.
</p>  
<h2>2. Ponto de contato do responsável pela proteção de dados</h2>
<p>
  Para entrar em contato com o nosso encarregado da proteção de dados envie e-mail para admin@classpert.com ou via nosso endereço postal acima citado.
</p>
<h2>3. Os seus direitos</h2>
<p>
  Abaixo seguem listados os direitos ligados às informações de identificação relativas à sua pessoa:
</p>
<h3>3.1. Direitos gerais</h3>
<p>
  O usuário tem o direito à informação, correção, eliminação, limitação de processamento, oposição ao processamento e portabilidade dos dados. Se o processamento depender do seu consentimento, tem o direito de revogá-lo com efeitos para o futuro.
</p>
<h3>3.2. Direitos no processamento de dados com base em interesses legítimos</h3>
<p>
  De acordo com o Artigo 21.º (1) do RGPD, o usuário tem o direito de, em qualquer momento e por motivos relacionados com a sua situação individual, contrapor-se ao tratamento de informações pessoais de identificação relativas à sua pessoa, nos termos do Artigo 6.º (1) (processamento de dados por motivos de interesse público) ou do Artigo 6.º, parágrafo  1-f), do RGPD (processamento de dados para a proteção de um interesse legítimo). Em caso de objeção da sua parte, deixaremos de processar as suas informações pessoais de identificação, salvo se apresentarmos fundamentos sólidos e legítimos para o processamento que prevaleçam sobre os seus interesses, direitos e liberdades, ou se o processamento das informações contribuir para defender, exercer ou fazer valer um pedido legal.
</p>
<h3>3.3. Direitos no âmbito de publicidade direta</h3>
<p>
  Se processarmos as suas informações pessoais de identificação para efeitos de publicidade direta, tem o direito de, segundo o Artigo 21.º, parágrafo  2, do RGPD, opor-se em qualquer momento ao respectivo processamento com essa finalidade.
</p>
<p>
  Em caso de objeção da sua parte, deixaremos de processar as suas informações pessoais de identificação para estes fins.
</p>
<h3>3.4. Direito a apresentar queixa a uma autoridade de supervisão</h3>
<p>
  O usuário tem o direito de apresentar queixa a uma autoridade de supervisão em a respeito da proteção de dados acerca do processamento realizado pela Classpert.com das suas informações pessoais de identificação.
</p>
<h2>4. Coleta de informações pessoais de identificação ao visitar o nosso website</h2>
<p>
  Se apenas utilizar o nosso website para fins informativos, isto é, se não se inscrever nem nos fornecer quaisquer informações, somente iremos recolher as informações pessoais de identificação que o seu browser transmitir ao nosso servidor. Iremos apenas recolher os dados tecnicamente necessários para exibir adequadamente o nosso site e garantir a respectiva estabilidade e segurança. Apenas utilizaremos estas informações em caso de suspeita de utilização indevida, no sentido de facilitar a identificação da pessoa responsável. A base jurídica para o efeito é o Artigo 6.º (1) (f) do RGPD, que cita as informações que podem ser colhidas. Seguem detalhadas abaixo:
</p>
<p>
  – Endereço IP, data e hora da consulta, em relação ao Tempo Médio de Greenwich (GMT), o conteúdo do pedido, estado de acesso/código de estado HTTP, volume de dados transferidos em cada caso, website que recebe o pedido, browser, sistema operacional e respectiva interface, idioma e versão de software do browser.
</p>
<h2>5. Contato por e-mail ou formulário de contato (customer service)</h2>
<p>
  Ao entrar em contato conosco via e-mail ou através de um formulário de contato, iremos armazenar os dados que nos forneceu (endereço de e-mail, possivelmente o seu nome e número de telefone), para que possamos responder às suas dúvidas. O fornecimento destas informações é feito de forma expressa, voluntária e com o seu consentimento, segundo o Artigo  6.º, parágrafo  1-a), do RGPD. Se os dados fornecidos incluírem informações referentes a canais de comunicação (como o seu endereço de e-mail ou número de telefone), ressaltamos que, quando adequado, poderemos entrar em contato através desse canal de comunicação para responder ao seu pedido. Este consentimento também poderá ser revogado a qualquer momento com efeitos para o futuro.
</p>
<p>
  Eliminaremos os dados que surgirem neste contexto quando o respectivo armazenamento deixar de ser necessário. Caso existam requisitos de retenção legais, limitaremos o tratamento deste tipo de dados.
</p>
<h2>6. Newsletter</h2>
<h3>6.1. Informações gerais</h3>
<p>
  Com o seu consentimento, conforme o Artigo  6.º, parágrafo  1-a), do RGPD, poderá subscrever a nossa newsletter, a qual lhe irá proporcionar informações acerca das nossas ofertas correntes.
</p>
<p>
  O único requisito para o envio da newsletter é o seu endereço de e-mail. Após a sua confirmação, iremos guardar o seu endereço de e-mail com o propósito de lhe enviar a newsletter. A base jurídica para o efeito é o Artigo  6.º, parágrafo  1-a), do RGPD.
</p>
<p>
  O seu consentimento para o envio da newsletter poderá ser revogado em qualquer altura e isso ocasionará o cancelamento da subscrição da mesma. Para realizar o cancelamento, basta clicar no link fornecido em cada e-mail da newsletter ou entrar em contato com o supracitado e-mail do encarregado da proteção de dados.
</p>
<h3>6.2. Acompanhamento da newsletter</h3>
<p>
  Tenha em atenção que avaliamos o seu comportamento enquanto usuário quando enviamos a newsletter. Para esta avaliação, os e-mails enviados incluem pixels de acompanhamento, armazenados no nosso website. Para realizar as avaliações, fazemos um cruzamento dos dados mencionados e os pixels de acompanhamento com o seu endereço de e-mail e um identificador individual.
</p>
<p>
  Utilizamos esses dados para adaptar a newsletter aos seus interesses. Ao fazê-lo, registramos quando as leu e em que links clicou. Cruzamos estes dados com ações que efetuou em nosso website.
</p>
<p>
  Poderá opor-se a este registro de dados em qualquer momento. Para tal, basta um clique no link fornecido em cada e-mail. Guardaremos as informações enquanto a sua subscrição da newsletter permanecer ativa. Uma vez desativada, guardaremos os dados anonimamente e para efeitos puramente estatísticos.
</p>
<h2>7. Conta Pessoal</h2>
<p>
  O usuario pode inscrever-se no site Classpert.com e criar uma conta. Recolhemos e guardamos os seguintes dados na inscrição:
</p>
<p>
  - E-mail
  - Senha
</p>
<p>
  É obrigatório fornecer os dados acima referidos. O usuário poderá fornecer voluntariamente outras informações na área logada.
</p>
<p>
  A inscrição é voluntária, mas poderá ser necessária para utilizar alguns dos nossos serviços.
</p>
<p>
  Se decidir criar avaliações e descrições, poderá escolher as informações pessoais de identificação que a Classpert.com. e os visitantes da plataforma podem ver. Poderá modificar estas configurações em qualquer momento. A Classpert.com não publica informações pessoais de identificação sem receber consentimento expresso da sua parte nesse sentido. 
</p>
<p>
  Em caso de cancelamento da conta, continuaremos a guardar os dados que forneceu voluntariamente durante o tempo que utilizou o portal para fins estatísticos. No entanto, o usuário poderá solicitar que apaguemos os dados se assim desejar. A base jurídica para o efeito é o Artigo 6.º, parágrafo  1-a), b) e f), do RGPD.
</p>
<h2>8 Ferramentas de Cadastro e Login</h2>
<h3>8.1 Facebook Connect</h3>
<p>
  O usuario poderá inscrever-se e se logar no Classpert.com utilizando a sua conta do Facebook. Se o fizer através do Facebook, este irá solicitar a sua permissão para nos fornecer determinados dados que constam da sua conta do Facebook. Tais dados poderão incluir o seu nome próprio, sobrenome e endereço de e-mail,  sexo, localização, o seu fuso horário, data de nascimento, foto de perfil, informações sobre os suas preferências e a sua lista de amigos.
</p>
<p>
  O Facebook irá recolher estes dados e transmiti-los à Classpert.com em conformidade com a política de privacidade do Facebook. O usuário poderá controlar as informações que recebemos do Facebook utilizando as configurações de privacidade da sua conta do Facebook.
</p>
<p>
  Estes dados serão utilizados para criar, fornecer e personalizar a sua conta. A base jurídica para o efeito é o Artigo 6.º, parágrafo  1-a), b) e f), do RGPD.
</p>
<p>
  Caso se inscreva na plataforma através do Facebook, a sua conta do Classpert.com será automaticamente ligada à sua conta do Facebook e as informações sobre as suas atividades no nosso website, se aplicável, poderão ser compartilhadas no Facebook e publicadas na seu feed de notícias.
</p>
<h2>8.2. Google+ / Gmail</h2>
<p>
  O usuário também poderá inscrever-se e logar-se com a sua conta do Google+/Gmail. A Google irá solicitar a sua permissão para nos fornecer determinados dados da sua conta, como: o seu nome próprio, sobrenome, endereço de e-mail, sexo, a sua foto de perfil e lista de amigos. A Google irá recolher estes dados e transmiti-los à Classpert.com em conformidade com a política de privacidade da Google.
</p>
<p>
  As pessoas que fazem parte dos seus círculos do Google+ poderão ver informações relacionadas com as atividades que realizou no nosso website. Além disso, estas informações serão partilhadas pela Google em conformidade com os respectivos termos e condições de utilização e política de privacidade. Para mais detalhes sobre a gestão das atividades que são compartilhadas na sua conta do Google+, consulte a página de ajuda da Google. Na página de configurações da aplicação do Google+, é possível determinar que pessoas nos seus círculos do Google+ poderão ver as suas atividades no nosso website.
</p>
<p>
  Estes dados serão utilizados para criar e personalizar a sua conta. A base jurídica para o efeito é o Artigo 6.º, parágrafo  1-a), b) e f), do RGPD.
</p>
<h3>8.3. LinkedIn</h3>
<p>
  O usuario poderá inscrever-se e logar-se no Classpert.com utilizando a sua conta do LinkedIn. Este irá solicitar a sua permissão para nos fornecer determinados dados que constam em sua conta do LinkedIn. O LinkedIn irá recolher estes dados e transmiti-los à Classpert.com em conformidade com a política de privacidade do LinkedIn. O usuário poderá controlar as informações que recebemos do LinkedIn utilizando as configurações de privacidade da sua conta do LinkedIn.
</p>
<p>
  Estes dados serão utilizados para criar, fornecer e personalizar a sua conta. A base jurídica para o efeito é o Artigo 6.º, parágrafo  1-a), b) e f), do RGPD.
</p>
<h3>8.4. GitHub</h3>
<p>
  O usuario poderá inscrever-se e logar-se no Classpert.com utilizando a sua conta do GitHub. Este irá solicitar a sua permissão para nos fornecer determinados dados que constam em sua conta do GitHub. O Github irá recolher estes dados e transmiti-los à Classpert.com em conformidade com a política de privacidade do GitHub. O usuário poderá controlar as informações que recebemos do Github utilizando as configurações de privacidade da sua conta do GitHub.
</p>
<p>
  Estes dados serão utilizados para criar, fornecer e personalizar a sua conta. A base jurídica para o efeito é o Artigo 6.º, parágrafo  1-a), b) e f), do RGPD.
</p>
<h2>9. Utilização de cookies</h2>
<p>
  Durante a utilização do nosso website, serão armazenados cookies no seu dispositivo. Os cookies são pequenos arquivos de texto que são armazenados no seu disco rígido atribuído ao browser que utiliza. Os cookies não podem executar programas nem infectar o seu dispositivo com vírus. Servem para tornar o website globalmente mais intuitivo e eficiente. Também utilizamos cookies para reconhecermos o seu dispositivo em visitas futuras.
</p>
<p>
  Este website utiliza os seguintes tipos de cookies, cuja extensão e função são explicadas abaixo:
</p>
<h3>9.1. Cookies temporários</h3>
<p>
  Estes cookies são automaticamente eliminados quando fecha o seu browser. Em particular, fazem parte desta categoria os cookies de sessão, que guardam um "identificador de sessão" através do qual é possível atribuir diferentes pedidos provenientes do seu browser à sessão conjunta. Tal cookie irá permitir que o seu dispositivo seja reconhecido novamente quando regressar ao nosso website. Os cookies de sessão são eliminados quando termina a sessão ou fecha o browser.
</p>
<h3>9.2. Cookies persistentes</h3>
<p>
  Estes cookies são automaticamente eliminados após um período de tempo configurado que varia conforme o cookie. Poderá eliminar cookies nas configurações de segurança do seu browser em qualquer momento.
</p>
<h3>9.3. Impedir cookies</h3>
<p>
  Poderá configurar o seu browser de acordo com suas preferências e, por exemplo, rejeitar cookies de terceiros ou de qualquer tipo. Mas saiba que, nesse caso, poderá não ser possível utilizar todas as funções do website.
</p>
<h3>9.4. Bases jurídicas e período de armazenamento</h3>
<p>
  As bases jurídicas para o possível processamento de informações pessoais de identificação e respectivo período de armazenamento variam e são descritas nas seções seguintes.
</p>
<h2>10. Análise e otimização</h2>
<p>
  Para efeitos de análise e otimização do nosso website, utilizamos diferentes serviços que se encontram descritos nessa seção. Estes serviços permitem-nos analisar, por exemplo, quantos usuários acessam o nosso site, quais as informações mais procuradas. Os dados que recolhemos incluem os websites a partir dos quais um determinado usuário chega até o nosso website ("referência"), que subpáginas no website são visitadas e com que frequência, bem como o período de tempo que os usuários permanecem nessas páginas. Estas informações ajudam-nos a melhorar a experiência em nosso website e a torná-lo mais intuitivo. Os dados recolhidos não servem para identificar pessoalmente usuários individuais. A base jurídica para o efeito é o Artigo 6.º, parágrafo  1-f), do RGPD.
</p>
<h3>10.1. Google Analytics</h3>
<p>
  Este website utiliza o Google Analytics, um serviço de análise da Web fornecido pela Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, EUA). 
</p>
<p>
  O Google Analytics utiliza cookies que permitem que a sua utilização do website seja analisada. A Google irá utilizar estas informações em nome do operador deste website para avaliar a sua utilização do mesmo, com a finalidade de compilar relatórios sobre a atividade do website e fornecer outros serviços relacionados a utilização do website e da internet ao respectivo operador. A base jurídica para a utilização do Google Analytics é o Artigo 6.º, parágrafo  1-f), do RGPD. Os dados por nós enviados e associados a cookies, informações sobre usuários (por exemplo, o endereço IP do usuário) e identificadores promocionais são eliminados após 12 meses desde a última utilização dos nossos serviços. Os dados cujo período de armazenamento tenha expirado são automaticamente eliminados uma. Para obter mais informações sobre os termos e condições de utilização e sobre a proteção de dados, consulte https://www.google.com/analytics/terms/pt.html e https://policies.google.com/?hl=pt.
</p>
<p>
  O usuário poderá impedir o armazenamento de cookies ajustando as configurações adequadas no seu browser. No entanto, saiba que, ao fazê-lo, poderá não ser possível utilizar na íntegra algumas funções do website. O usuário também poderá impedir que os dados criados pelo cookie e relacionados com a sua utilização do website (incluindo o endereço IP) sejam recolhidos e processados pela Google. Para tal, baixe e instale a extensão para desativação do Google Analytics, disponível em https://tools.google.com/dlpage/gaoptout?hl=pt. Os cookies de desativação irão impedir que este website recolha os seus dados em visitas futuras. Para impedir que o Universal Analytics recolha dados em vários dispositivos, deverá efetuar a desativação em todos os sistemas utilizados. 
</p>
<h3>10.2. Google Tag Manager</h3>
<p>
  Por motivos de transparência, informamos que utilizamos o Google Tag Manager. Este sistema não recolhe quaisquer informações pessoais de identificação. O Tag manager permite-nos incorporar e gerir as nossas tags mais facilmente. As tags são pequenos fragmentos de código que medem o tráfego e o comportamento dos usuários, registram os efeitos da publicidade online e dos canais sociais, para fins de operações de remarketing com foco em determinado público-alvo. Ajudam a  testar e otimizar o site, entre outras ações.. Para mais informações sobre o Google Tag Manager, consulte: https://www.google.com/analytics/tag-manager/use-policy/
</p>
<h3>10.3. Hotjar</h3>
<p>
  Recolhemos e armazenamos dados para efeitos de otimização deste site utilizando tecnologias da Hotjar Ltd. (https://www.hotjar.com/). Os dados recolhidos com tecnologias Hotjar não são utilizados para identificar pessoalmente os visitantes deste website e não serão associados a informações individuais do usuário sem o expresso consentimento do indivíduo em questão. Em qualquer momento, o usuário poderá desativar a coleta de informações por parte do Hotjar nos sites que tenham este serviço ativado. Para tal, visite a página de desativação do Hotjar, disponível em https://www.hotjar.com/legal/compliance/opt-out, e clique em "Disable Hotjar" (Desativar Hotjar) ou ative a opção Do Not Track (DNT) no seu browser.
</p>
<h2>11. Publicidade</h2>
<p>
  Utilizamos cookies e pixels para efeitos de marketing de forma a abordarmos os nossos usuários com publicidade mais adequada aos respectivos interesses. Também utilizamos cookies para avaliar a eficácia dos nossos esforços publicitários. Estas informações também poderão ser compartilhadas com terceiros, como redes de publicidade e servem o interesse legítimo de marketing direto. A base jurídica para o efeito é o Artigo 6.º, parágrafo  1-a) e f), do RGPD. Em qualquer momento, o usuário poderá opor-se ao processamento dos seus dados para fins relacionados com este tipo de publicidade. Para tal poderá impedir o armazenamento de cookies através das configurações do seu browser.
</p>
<h3>11.1. Publicidade no Google</h3>
<p>
  Para realizar anúncios para divulgar os nossos serviços, utilizamos ferramentas disponibilizadas pelo Google (como o Google Adwords). Neste contexto, utilizamos o acompanhamento de conversões com a finalidade de apresentar anúncios online personalizados em função dos interesses e do comportamento dos usuários em nosso website.
</p>
<p>
  Os anúncios são exibidos em função das pesquisas efetuadas nos websites da rede de publicidade da Google. Conseguimos combinar os nossos anúncios com determinados termos de pesquisa. Mediante a utilização de cookies, conseguimos apresentar anúncios baseados nas visitas anteriores do usuário ao nosso website.
</p>
<p>
  Quando clica-se num anúncio, o Google coloca um cookie no dispositivo do mesmo. Para mais informações sobre a tecnologia de cookies utilizada, consulte as declarações da Google relativamente às estatísticas do website, bem como a respetiva política de privacidade de dados.
</p>
<p>
  Utilizando esta tecnologia, a Google e nós, como clientes da mesma, recebemos a informação de que um usuário clicou no anúncio e foi redirecionado para os nossos websites. As informações adquiridas desta forma apenas são utilizadas para análises estatísticas relacionadas com a otimização de anúncios. Não recebemos nenhuma informação que nos permita identificar pessoalmente um visitante. 
</p>
<p>
  Caso não pretenda fazer parte destas estatísticas, poderá impedir o armazenamento dos cookies que esta tecnologia utiliza ao ajustar as configurações no seu browser. Nesse caso, a sua visita não será incorporada nas estatísticas de usuários.
</p>
<p>
  Além disso, o usuário poderá desativar anúncios baseados em interesses no Google através das definições dos anúncios. Em alternativa, poderá desativar a utilização de cookies por terceiros através da ferramenta de desativação da Network Advertising Initiative.
</p>
<p>
  Porém, tanto nós como a Google iremos continuar a receber informações estatísticas sobre quantos usuários visitam este site e quando. 
</p>
<h3>11.2. Publicidade no Facebook e Instagram</h3>
<p>
  Os Facebook Ads (da Facebook Inc., 1601 S. California Avenue, Palo Alto, CA 94304) são também utilizado como parte da publicidade online do nosso website. O seu comportamento de utilização, que não permite a sua identificação pessoal, poderá ser transmitida ao Facebook para efeitos de análise e marketing. Neste processo, é configurado um pixel do Facebook, que irá permitir que sejam recolhidas informações sobre as suas atividades no website (como comportamento de navegação, as páginas visitadas, etc.). O seu endereço IP é armazenado e utilizado para modulação geográfica.
</p>
<p>
  Para mais informações sobre a finalidade e extensão da coleta de dados e posterior processamento e utilização, bem como sobre as configurações de privacidade, consulte a política de privacidade do Facebook.
</p>
<h2>12. Transmissão de dados</h2>
<p>
Como regra geral, os seus dados não serão transmitidos a terceiros, salvo se existir uma obrigação legal nesse sentido ou se tiver dado o seu expresso consentimento para a transferência. 
</p>
<p>
Ao ser direcionado a um site de terceiros, a partir do Classpert.com, tenha também em atenção a política de privacidade de dados do respectivo fornecedor de serviços. O respectivo fornecedor é responsável pelo conteúdo dos serviços que oferece, embora avaliemos os serviços em termos de conformidade com os requisitos legais numa medida razoável.
</p>
<h2>13. Segurança dos dados</h2>
<p>
Agimos no sentido de tomar as devidas precauções de segurança técnicas e operacionais para proteger os seus dados contra manipulação, perda, destruição ou acesso por parte de pessoas não autorizadas, quer de forma intencional ou acidental. As nossas medidas de segurança são revistas regularmente e atualizadas em linha com os avanços tecnológicos.
</p>
<p>
Última atualização: Maio de 2018
</p>
</div>
