<% content_for :meta do %>
  <title>Termos e Condições | Classpert</title>
  <meta name='description' content="Termos e Condições" />
  <meta property='og:description' content="Termos e Condições" />
<% end %>

<div class='el:amx-Mt(2em)' style='padding-bottom:6em'>
<h1 class='el:amx-Ta(c) el:amx-Mb(1.5em)'>Termos e condições</h1>
<p>
  A Classpert.com disponibiliza em seu site um motor de busca de cursos online e oferece aos seus usuários informações e comentários sobre diversos cursos em diferentes categorias (marketing, programação e etc...).
</p>
<h2>1.  Âmbito do serviço</h2>
<p>
  1.1. Estes termos e condições estão sujeitos a alterações ocasionais e se aplicam a todos os nossos serviços diretos ou indiretos, oferecidos online, através de dispositivos desktop, móveis, por e-mail ou telefone.
</p>
<p>
  1.2. Ao utilizar o nosso site, você confirma ter lido, compreendido e concordado com todos os termos e condições, assim como a política de privacidade e a utilização de cookies.
</p>
<h2>2. Serviços e Contrato</h2>
<p>
  2.1. No site da Classpert.com, você pode comparar serviços de terceiros através do sistema da Classpert.com.
</p>
<p>
  2.2. Após a busca, a compra (em cursos não-gratuitos) será efetuada diretamente no site do parceiro e não no site da Classpert.com. Nesses casos, a Classpert.com não é parte contratual para o usuário, mas será apenas um agente que fornece a conexão técnica ao site de terceiros. Ao efetuar a compra (ou realização de cursos gratuitos) em sites de terceiros, o usuário concorda em ficar vinculado pelos termos e condições daquele site de cursos. Os  termos e condições de terceiros podem ser visualizados no próprio site de cursos. Assim que um registro para a participação em um curso for efetuada em um site de propriedade de terceiros, é celebrado um contrato entre o site de cursos e o usuário e, assim, não é celebrado qualquer contrato entre o usuário e a Classpert.com. A Classpert.com não é parte contratual em relação aos cursos. Todas e quaisquer reclamações do usuário relativas aos cursos devem ser apresentadas à terceira parte (o site de cursos) e não à Classpert.com.
</p>
<p>
  2.3. Este acordo não é afetado por quaisquer acordos entre sites de cursos e usuários.
</p>
<h2>3. Área de membros da Classpert.com</h2>
<p>
  3.1. Os usuários têm a opção de se cadastrar no site da Classpert.com. Usuários que se cadastram podem publicar seus comentários e avaliações após a realização (parcial ou completa) de cursos em uma das plataformas disponibilizadas na Classpert.com. Usuários não cadastrados podem ler o conteúdo na Classpert.com gratuitamente.
</p>
<p>
  3.2. É solicitado ao usuário o fornecimento de seus dados pessoais para a criação da conta. Informações pessoais (como o nome por exemplo) somente serão divulgadas com o consentimento do usuário. Para informações adicionais, por favor verifique o link de política de privacidade. Ao excluir a conta, toda e qualquer informação do usuário será removida permanentemente.
</p>
<p>
  3.3. Usuários não podem cadastrar-se mais de uma vez. O usuário é responsável pela exatidão e integridade de suas informações pessoais.
</p>
<p>
  3.4. O usuário é responsável pela confidencialidade das informações da sua conta, em especial da sua senha. Usuários também são responsáveis pelo uso de sua conta no que diz respeito à Classpert.com e terceiros. O usuário não deve divulgar estes dados para o uso de terceiros.
</p>
<p>
  3.5. Em caso de uso não autorizado dos serviços da Classpert.com através do uso indevido do login ou senha, o usuário cadastrado deve notificar a Classpert.com imediatamente.
</p>
<p>
  3.6. Uso indevido do site (como comentários caluniosos, criação de diversas contas entre outros) pode resultar em termino do cadastro no site da Classpert.com. Sendo este um  critério de decisão exclusivo da Classpert.com.
</p>
<h2>4. Privacidade e Anúncios por e-mail</h2>
<p>
  4.1. A proteção dos dados pessoais fornecidos pelos usuários é de grande prioridade para a Classpert.com. A Classpert.com faz todos os esforços para garantir a conformidade com a proteção de dados. Para mais informações, por favor, consulte a política de privacidade.
</p>
<p>
  4.2. A Classpert.com coleta, processa e utiliza os dados pessoais de usuários apenas se os dados foram obtidos com o seu consentimento ou sob disposição legal permitindo a coleta, processamento e uso das informações pessoais do usuário.
</p>
<p>
  4.3. A Classpert.com só recolherá, processará e utilizará informações necessárias para o fornecimento dos serviços prestados pela Classpert.com, para a utilização e funcionamento dos sites / apps e serviços oferecidos.
</p>
<p>
  4.4. Caso o usuário tenha concordado em receber informações sobre a Classpert.com durante o cadastro ou em outro momento utilizando os serviços da Classpert, o usuário receberá informações periódicas sobre o produto. O consentimento pode ser revogado a qualquer momento mediante comunicação escrita ou por e-mail.
</p>
<h2>5. Obrigações do Usuário</h2>
<p>
  5.1. O usuário é responsável pelos direitos do conteúdo (textos, avaliações, links, etc.) publicados na Classpert.com. Eles garantem que possuem todos os direitos em relação ao conteúdo por eles publicado no site da Classpert.com, sem violação dos direitos de terceiros.
</p>
<p>
  5.2. Os usuários garantem não utilizar os serviços da Classpert.com para criar conteúdo que:
</p>
<p>
  -seja de teor publicitário disfarçado como comentários,
  -não é objetivo ou intencionalmente falso,
  -imoral, pornográfico ou de qualquer outra forma ofensiva,
  -infrinja os direitos de terceiros, nomeadamente direitos do autor,
  -viola leis aplicáveis em qualquer forma ou constitui uma ofensa criminal,
  -contém vírus ou outros programas de computador que podem danificar software ou hardware, ou que possa afetar o uso de computadores,
  -visa coletar ou utilizar dados pessoais de outros usuários, especialmente para fins comerciais.
</p>
<p>
  5.3. O usuário garante não usar programas ou funções automáticas para gerar impressões de página ou conteúdo na Classpert.com.
</p>
<p>
  5.4. Em caso de violação dos termos e condições, a Classpert.com reserva-se o direito de remover o conteúdo sem aviso prévio. O direito à acusação de atos criminosos permanece inalterada.
</p>
<h2>6. Terminação</h2>
<p>
  6.1. A Classpert.com se reserva no direito de cancelar o acesso de um usuário e excluir o seu cadastro dentro de um período de uma semana após o recebimento de informações relevantes via e-mail sobre o uso indevido do site. O usuário também poderá rescindir o seu próprio acesso e cadastro dentro do mesmo período. O direito à rescisão imediata por justa causa permanece inalterado.
</p>
<h2>7. Responsabilidade</h2>
<p>
  7.1. A Classpert.com não é responsável pela exatidão, qualidade, integridade, confiabilidade ou credibilidade do conteúdo fornecido por usuários e/ou sites de terceiros.
</p>
<p>
  7.2. Todos os acordos que surgem através deste serviço são entre o usuário da Classpert.com e a respectiva contratação externa do site de terceiros. A Classpert.com não atua como produtor de conteudo de cursos em nenhum momento. Os termos e condições do respectivo site de cursos se aplicam exclusivamente para o mesmo, especialmente sobre o direito de cancelamento e anulação. O contato para a realização dos cursos e (quando necessário) seus pagamentos, assim como questões sobre o contrato, fica sob responsabilidade do respectivo site de terceiros contratado. A Classpert.com permanece sem nenhum envolvimento em tais arranjos contratuais, acordos e reivindicações entre o usuário Classpert.com e o respectivo site de cursos de contratação externa.
</p>
<p>
  7.3. A Classpert.com não se responsabiliza pela exatidão do conteúdo publicado por sites de terceiros ou por membros da comunidade. A Classpert.com não possui qualquer influência sobre essas informações (particularmente em imagens, comentários, opiniões, etc.). A publicação de conteúdo gerado pelo usuário não reflete a opinião da Classpert.com, e não reivindica o conteúdo como propriedade da Classpert.com.
</p>
<p>
  7.4. Hyperlinks, banners de publicidade, informações sobre cursos ou prestadores de serviços e similares são fornecidos por sites terceiros e membros da comunidade e não representam recomendações ou informações da Classpert.com. Por razões técnicas, as atualizações dos preços que recebemos dos sites de cursos não são feitas em tempo real. Por este motivo, é possível que o preço disponível no site de cursos não corresponda ao preço especificado no site da Classpert.com. A Classpert.com não garante a exatidão da informação, particularmente de preços.
</p>
<p>
  7.5. A Classpert.com não se responsabiliza por problemas técnicos que se encontrem fora da área de seu site ou fora da área de responsabilidade do Classpert.com, ou por danos causados por força maior. A Classpert.com não garante disponibilidade ininterrupta de dados e pode executar a manutenção técnica durante um período de tempo escolhido livremente.
</p>
<h2>8. Alterações nos Termos e Condições</h2>
<p>
  Os termos e condições vigentes se aplicam quando o site da Classpert.com é utilizado. Os usuários cadastrados recebem notificações sobre eventuais alterações dos termos e condições por e-mail. Os usuários podem baixar e imprimir os termos e condições vigentes em seu próprio computador.
</p>
</div>
