<h1 class='mx-Ta(c) mx-Mb(20px)'>Terms and Conditions</h1>
<p>
  Classpert.com makes available on its website an online search engine and offers its users information and comments on various courses in different categories (marketing, software development and etc ...).
</p>
<h2>1. Scope of Service</h2>
<p>
  1.1. These terms and conditions are subject to occasional changes and apply to all our direct or indirect services, offered online, through desktop, mobile, email or through telephone.
</p>
<p>
  1.2. By using our site, you confirm that you have read, understood and agreed to all terms and conditions, as well as the privacy policy and the use of cookies.
</p>
<h2>2. Services and Contract</h2>
<p>
  2.1. On Classpert.com website, you can compare third-party courses through the Classpert.com system.
</p>
<p>
  2.2. After the search, the purchase (non-free courses) will be made directly on the partner's website and not on Classpert.com website. In these cases, Classpert.com is not contractual party to the user, but will only be an agent that provides the technical connection to third party websites. By purchasing (or choosing to attend free courses) on third party websites, you agree to be bound by the terms and conditions of that site. Their terms and conditions can be viewed on their website. Once a registration to participate  in a course is made on a third-party site, a contract is entered into between the course site and the user and thus no contract is entered into between you and Classpert.com. Classpert.com is not contractual party in this relationship. Any and all user complaints about courses should be submitted to the third party (the course site) and not to Classpert.com.
</p>
<p>
  2.3. This agreement is not affected by any agreements between third-party websites (course websites) and users.
</p>
<h2>3. Members area on ​​Classpert.com</h2>
<p>
  3.1. Users have the option to register on Classpert.com. Registered users can publish their comments and reviews after attending (partially or fully) courses in one of the platforms available on Classpert.com. Non-registered users can read the content on Classpert.com for free.
</p>
<p>
  3.2. You are requested to provide your personal data to register on Classpert.com. Personal information (such as name for example) will only be disclosed with the consent of the user. For additional information, please check the privacy policy link. By deleting your account, any and all user information will be permanently removed.
</p>
<p>
  3.3. Users can not register more than once. You are responsible for the accuracy of your personal information.
</p>
<p>
  3.4. You are responsible for the confidentiality of your account information, especially your password. Users are also responsible for using their account with respect to Classpert.com and third parties. User must not disclose their data for use by third parties.
</p>
<p>
  3.5. In case of unauthorized use of the services of Classpert.com with your login or password, the registered user must notify Classpert.com immediately.
</p>
<p>
  3.6 Misuse of the site (such as slanderous comments, multiple accounts creation, among others) may result in termination of the registration on the site of Classpert.com. This being an exclusive decision of Classpert.com.
</p>
<h2>4. Privacy and Email Ads</h2>
<p>
  4.1. The protection of personal data provided by users is a high priority for Classpert.com. Classpert.com makes every effort to ensure compliance with data protection. For more information, please see the privacy policy.
</p>
<p>
  4.2. Classpert.com collects, processes and uses personal data of users only if it was obtained with their consent or under a legal provision allowing the collection, processing and use of personal information of the user.
</p>
<p>
  4.3. Classpert.com will only collect, process and use information necessary to provide the services provided by Classpert.com, for the use and operation of the sites / apps and services offered.
</p>
<p>
  4.4. If you have agreed to receive information about Classpert.com during the registration or at another time using Classpert.com services, the user will receive periodic information about the product. Consent may be revoked at any time by written communication or by e-mail.
</p>
<h2>5. User Obligations</h2>
<p>
  5.1. The user is responsible for the content rights (texts, ratings, links, etc.) published on Classpert.com. They guarantee that they have all rights related to the content they publish on Classpert.com, without violating the rights of third parties.
</p>
<p>
  5.2. Users warrant not to use the services of Classpert.com to create content that:
</p>
<p>
  - Is an advertising article disguised as comments,
  - is not objective or is intentionally fake,
  - immoral, pornographic or otherwise offensive,
  - infringes the rights of third parties, including copyright,
  - violates applicable laws in any form or constitutes a criminal offense,
  - contains viruses or other computer programs that may damage software or hardware, or that may affect the use of computers,
  - aims to collect or use personal data of other users, especially for commercial purposes.
</p>
<p>
  5.3. You warrant that you will not use automatic programs or features to generate page or content impressions on Classpert.com.
</p>
<p>
  5.4. In case of violation of the terms and conditions, Classpert.com reserves the right to remove content without prior notice. The right to prosecution remains unchanged.
</p>
<h2>6. Termination</h2>
<p>
  6.1. Classpert.com reserves the right to cancel a user's access and delete their registration within a period of one week after receiving relevant information via e-mail about the misuse of the site. You may also terminate your own access and registration within the same period. The right to immediate termination for due cause remains unchanged.
</p>
<h2>7. Responsibility</h2>
<p>
  7.1. Classpert.com is not responsible for the accuracy, completeness, reliability or credibility of the content provided by users and / or third-party websites.
</p>
<p>
  7.2. All agreements arising through this service are between Classpert.com´s user and the respective external third-party service. Classpert.com does not act as a content producer of courses in any moment. The terms and conditions of the respective third-party website applies to  exclusively towards them, especially on the right of cancellation. The contact for the completion of the courses and (when necessary) their payments, as well as questions about the contract, is under the responsibility of the contracted courses website. Classpert.com remains without any involvement in such contractual arrangements, agreements and claims between users and its external third-party website.
</p>
<p>
  7.3. Classpert.com is not responsible for the accuracy of content posted by third-party sites or by members of the community.. Classpert.com has no influence on this information (particularly in images, comments, opinions, etc.). The publication of user-generated content do not reflect Classpert.com's opinion, and does not claim the content as Classpert.com´s property.
</p>
<p>
  7.4. Hyperlinks, advertising banners, courses information or service providers information are provided by third party sites and community members and do not represent Classpert.com´s recommendations or information. For technical reasons, price updates we receive from third-party sites are not made in real time. For this reason, it is possible that the price available on the course website does not correspond to the price specified on Classpert.com website. Classpert.com does not guarantee the accuracy of the information, particularly prices.
</p>
<p>
  7.5. Classpert.com is not responsible for technical problems that occur outside ​​their site or outside the area of ​​responsibility of Classpert.com, or for damages caused by third-party. Classpert.com does not guarantee uninterrupted data availability and may perform technical maintenance for a freely chosen period of time.
</p>
<h2>8. Changes in Terms and Conditions</h2>
<p>
  The current terms and conditions apply when Classpert.com website is used. Registered users are notified of any changes to the terms and conditions by email. Users can download and print the current terms and conditions on their own computer.
</p>

