<% content_for :meta do %>
  <title>Términos y Condiciones | Classpert</title>
  <meta name='description' content="Términos y Condiciones" />
  <meta property='og:description' content="Términos y Condiciones" />
<% end %>

<div class='el:amx-Pt(2.5em) container'>
  <div class='el:amx-Mt(2em)' style='padding-bottom:6em'>
    <h1 class='el:amx-Ta(c) el:amx-Mb(1.5em)'>Términos y condiciones</h1>
    <p>
      Classpert.com ofrece en su sitio un motor de búsqueda de cursos online y ofrece a sus usuarios información y comentarios sobre diversos cursos en diferentes categorías (marketing, programación y etc ...).
    </p>
    <h2>1. Ambito del servicio</h2>
    <p>
      1.1. Estos términos y condiciones están sujetos a cambios ocasionales y se aplican a todos nuestros servicios directos o indirectos, ofrecidos en línea, a través de dispositivos de escritorio, móviles, por correo electrónico o por teléfono.
    </p>
    <p>
      1.2. Al utilizar nuestro sitio, usted confirma haber leído, comprendido y aceptado todos los términos y condiciones, así como la política de privacidad y el uso de cookies.
    </p>
    <h2>2. Servicios y Contrato</h2>
    <p>
      2.1. En el sitio de Classpert.com, puedes comparar servicios de terceros a través del sistema de Classpert.com.
    </p>
    <p>
      2.2. Después de la búsqueda, la compra (en cursos no gratuitos) será efectuada directamente en el sitio de terceros y no en el sitio de Classpert.com. En estos casos, Classpert.com no es parte contractual para el usuario, pero será sólo un agente que proporciona la conexión técnica al sitio de terceros. Al realizar la compra (o realización de cursos gratuitos) en sitios de terceros, el usuario acuerda quedar vinculado por los términos y condiciones de aquel sitio de cursos. Los términos y condiciones de terceros pueden ser visualizados en el propio sitio de cursos. Una vez que un registro para la participación en un curso se efectúe en un sitio de propiedad de terceros, se celebra un contrato entre estos y el usuario y, por lo tanto, no se celebra ningún contrato entre el usuario y Classpert.com. Classpert.com no es parte contractual en relación a los cursos. Todas y cualesquiera quejas del usuario relativas a los cursos deben ser presentadas a la tercera parte (el sitio de cursos) y no a Classpert.com.
    </p>
    <p>
      2.3. Este acuerdo no se ve afectado por cualquier acuerdo entre sitios de cursos y usuarios.
    </p>
    <h2>3. Área de miembros de Classpert.com</h2>
    <p>
      3.1. Los usuarios tienen la opción de registrarse en el sitio de Classpert.com. Los usuarios que se registran pueden publicar sus comentarios y evaluaciones después de la realización (parcial o completa) de cursos en una de las plataformas disponibles en Classpert.com. Los usuarios no registrados pueden leer el contenido en Classpert.com de forma gratuita.
    </p>
    <p>
      3.2. Se le pide al usuario el suministro de sus datos personales para la creación de la cuenta. La información personal (como el nombre por ejemplo) sólo se divulgará con el consentimiento del usuario. Para obtener más información, por favor consulte nuestra política de privacidad. Al eliminar la cuenta, toda y cualquier información del usuario será removida permanentemente.
    </p>
    <p>
      3.3. Los usuarios no pueden inscribirse más de una vez. El usuario es responsable de la exactitud e integridad de su información personal.
    </p>
    <p>
      3.4. El usuario es responsable por la confidencialidad de la información de su cuenta, en particular de su contraseña. Los usuarios también son responsables del uso de su cuenta en lo que se refiere a Classpert.com y terceros. El usuario no debe divulgar estos datos para el uso de terceros.
    </p>
    <p>
      3.5. En caso de uso no autorizado de los servicios de Classpert.com a través del uso indebido del login o contraseña, el usuario registrado debe notificar a Classpert.com inmediatamente.
    </p>
    <p>
      3.6. El uso indebido del sitio (como comentarios calumniosos, creación de varias cuentas entre otros) puede resultar en terminación del registro en el sitio de Classpert.com. Siendo éste un criterio de decisión exclusivo de Classpert.com.
    </p>
    <h2>4. Privacidad y Anuncios por correo electrónico</h2>
    <p>
      4.1. La protección de los datos personales proporcionados por los usuarios es de gran prioridad para Classpert.com. Classpert.com hace todos los esfuerzos para garantizar el cumplimiento de la protección de datos. Para más información, por favor consulte la política de privacidad.
    </p>
    <p>
      4.2. Classpert.com recoge, procesa y utiliza los datos personales de los usuarios sólo si los datos se obtienen con su consentimiento o mediante una solicitud legal para la recolección, procesamiento y uso de la información personal del usuario.
    </p>
    <p>
      4.3. Classpert.com sólo recabará, procesará y utilizará la información necesaria para el suministro de los servicios prestados por Classpert.com, para el uso y funcionamiento de los sitios / apps y servicios ofrecidos.
    </p>
    <p>
      4.4. Si el usuario ha aceptado recibir información sobre Classpert.com durante el registro o en otro momento utilizando los servicios de Quero, el usuario recibirá información periódica sobre el producto. El consentimiento puede ser revocado en cualquier momento mediante comunicación escrita o por e-mail.
    </p>
    <p>
    <h2>5. Obligaciones del usuario</h2>
    <p>
      5.1. El usuario es responsable de los derechos del contenido (textos, valoraciones, links, etc.) publicados en Classpert.com. Ellos garantizan que poseen todos los derechos en relación al contenido que ellos publican en el sitio de Classpert.com, sin violación de los derechos de terceros.
    </p>
    <p>
      5.2. Los usuarios garantizan no utilizar los servicios de Classpert.com para crear contenido que:
    </p>
    <p>
      - sea de contenido publicitario disfrazado como comentarios,
      - no es objetivo o intencionalmente falso,
      - inmoral, pornográfico o de cualquier otra forma ofensiva,
      - infrinja los derechos de terceros, en particular los derechos del autor,
      - viola leyes aplicables en cualquier forma o constituye una ofensa criminal,
      - contiene virus o otros programas informáticos que pueden dañar software o hardware, o que pueden afectar el uso de ordenadores,
      - tiene por objeto recoger o utilizar datos personales de otros usuarios, especialmente con fines comerciales.
    </p>
    <p>
      5.3. El usuario garantiza no utilizar programas o funciones automáticas para generar impresiones de página o contenido en Classpert.com.
    </p>
    <p>
      5.4. En caso de violación de los términos y condiciones, Classpert.com se reserva el derecho de retirar el contenido sin previo aviso. El derecho a la acusación de actos criminales permanece inalterado.
    </p>
    <h2>6. Terminación</h2>
    <p>
      6.1. Classpert.com se reserva el derecho de cancelar el acceso de un usuario y excluir su registro dentro de un plazo de una semana después de recibir información relevante vía email sobre el uso indebido del sitio. El usuario también podrá rescindir su propio acceso y registro dentro del mismo período. El derecho a la rescisión inmediata por justa causa permanece inalterado.
    </p>
    <h2>7. Responsabilidad</h2>
    <p>
      7.1. Classpert.com no es responsable de la exactitud, calidad, integridad, confiabilidad o credibilidad del contenido proporcionado por usuarios y / o sitios de terceros.
    </p>
    <p>
      7.2. Todos los acuerdos que surgen a través de este servicio son entre el usuario de Classpert.com y su contratación externa del sitio de terceros. Classpert.com no actúa como productor de contenido de cursos en ningún momento. Los términos y condiciones del respectivo sitio de terceros se aplican exclusivamente para el mismo, especialmente sobre el derecho de cancelación y anulación. El contacto para la realización de los cursos y (cuando sea necesario) sus pagos, así como cuestiones sobre el contrato, es responsabilidad del respectivo sitio de cursos contratado. Classpert.com permanece sin ningún compromiso en tales acuerdos contractuales y reivindicaciones entre el usuario Classpert.com y el respectivo sitio de cursos de contratación externa.
    </p>
    <p>
      7.3. Classpert.com no se responsabiliza por la exactitud del contenido publicado por sitios de terceros o por miembros de la comunidad. Classpert.com no tiene ninguna influencia sobre esta información (particularmente en imágenes, comentarios, opiniones, etc.). La publicación de contenido generado por el usuario no refleja la opinión de Classpert.com, y no reivindica el contenido como propiedad de Classpert.com.
    </p>
    <p>
      7.4. Los hipervínculos, banners de publicidad, información sobre cursos o prestadores de servicios y similares son proporcionados por sitios terceros y miembros de la comunidad y no representan recomendaciones o información de Classpert.com. Por razones técnicas, las actualizaciones de los precios que recibimos de los sitios de cursos no se realizan en tiempo real. Por este motivo, es posible que el precio disponible en el sitio de cursos no corresponda al precio especificado en el sitio web de Classpert.com. Classpert.com no garantiza la exactitud de la información, particularmente de precios.
    </p>
    <p>
      7.5. Classpert.com no se responsabiliza por problemas técnicos que se encuentren fuera del área de su sitio o fuera del área de responsabilidad de Classpert.com, o por daños causados por fuerza mayor. Classpert.com no garantiza la disponibilidad ininterrumpida de datos y puede realizar el mantenimiento técnico durante un período de tiempo elegido libremente.
    </p>
    <h2>8. Cambios en los Términos y Condiciones</h2>
    <p>
      Los términos y condiciones vigentes se aplican cuando se utiliza el sitio web de Classpert.com. Los usuarios registrados reciben notificaciones sobre cualquier cambio de los términos y condiciones por correo electrónico. Los usuarios pueden descargar e imprimir los términos y condiciones vigentes en su propio ordenador.
    </p>
  </div>
</div>