#courses-show {
  .header {
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--surface), var(--surface));
    background-position: 0 0;
    @media screen and (max-width: 992px) {
      background-size: 100% 45em;
    }
    background-size: 100% 15em;
  }

  .course-description {
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child,
    p:first-child {
      margin-top: 0;
    }

    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    h6:last-child,
    p:last-child {
      margin-bottom: 0;
    }
  }
}
