server {
  listen 80;

  location / {
    rewrite                /(.*) /${AWS_S3_BUCKET_NAME}/$1 break;
    proxy_pass             ${AWS_S3_ENDPOINT};
    proxy_redirect         off;
    proxy_intercept_errors on;

    error_page 404 = @prod_s3;
  }

  location @prod_s3 {
    rewrite                /${AWS_S3_BUCKET_NAME}/(.*) /$1 break;
    proxy_pass             https://${AWS_S3_PROD_BUCKET_NAME}.s3.${AWS_S3_REGION}.amazonaws.com;
    proxy_redirect         off;
  }
}
