<span class="el:amx-Fs(0.75em) el:amx-C_fgM el:amx-Ls(5%) el:amx-Tt(u) el:amx-Fw(b)">
  <%= t(".title", provider: @provider.name) %>
</span>

<div class="description el:amx-Mt(1em)">
  <div class="text el:amx-Fs(0.875em) el:amx-C_fg">
    <%= Kramdown::Document.new(@provider.description).to_html.html_safe %>
  </div>
</div>