<html>

  <head>
    <!-- <link href='http://localhost:8080/main.css' rel='styleshe<et' type='text/css'> -->
    <!-- <link href='<%= require("../scss/application.scss") %>' rel='stylesheet' type='text/css'> -->
  </head>

  <body class='mx-Bc(#fff)'>

    <div class='l-container'>
      <a href='/' style='margin-top:16px;display:inline-block'>
        <img width='160px' src='<%= require("../svg/logo-quero.svg") %>' />
      </a>
    </div>

    <div class='l-error'>
      <div class='l-error__content'>
        <h1 class='l-error__title'>Page not Found</h1>
        <h3 style='font-size:24px;margin-bottom:40px;'>Error 404</h3>
        <img class='l-error__art' src='<%= require("../svg/404.svg") %>' />
      </div>
    </div>
  </body>
<html>
