<div class='el:amx-Bc_su'>
  <div class='el:amx-Pt(4em) el:amx-Pb(6em)'>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-md-8 offset-md-2'>
        </div>
      </div>
    </div>
  </div>
</div>
