AUTHENTICATOR_USER=authenticator
AUTHENTICATOR_PASSWORD=0000000000000000000000000000000000000000
API_SCHEMA=api
API_ANONYMOUS_ROLE=anonymous
JWT_SECRET=123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890

CERTIFICATE_AWS_REGION=us-east-1
CERTIFICATE_AWS_HOST=fake.s3:9000
CERTIFICATE_AWS_BUCKET=quero-web-app-dev
CERTIFICATE_AWS_FOLDER=/signed/certificates
CERTIFICATE_AWS_ACCESS_KEY_ID=AWS_SECRET_ACCESS_KEY
CERTIFICATE_AWS_SECRET_ACCESS_KEY=AWS_ACCESS_KEY_ID
CERTIFICATE_AWS_IS_PUBLIC=FALSE
CERTIFICATE_AWS_IS_HTTPS=FALSE

DIRECT_UPLOAD_AWS_REGION=us-east-1
DIRECT_UPLOAD_AWS_HOST=fake.s3:9000
DIRECT_UPLOAD_AWS_BUCKET=quero-web-app-dev
DIRECT_UPLOAD_AWS_ROOT_FOLDER=/signed
DIRECT_UPLOAD_AWS_ACCESS_KEY_ID=AWS_SECRET_ACCESS_KEY
DIRECT_UPLOAD_AWS_SECRET_ACCESS_KEY=AWS_ACCESS_KEY_ID
DIRECT_UPLOAD_AWS_IS_PUBLIC=FALSE
DIRECT_UPLOAD_AWS_IS_HTTPS=FALSE

DATABASE_PASSWORD=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_DB=quero_development
