AUTHENTICATOR_USER=authenticator
AUTHENTICATOR_PASSWORD=0000000000000000000000000000000000000000
API_SCHEMA=api
API_ANONYMOUS_ROLE=anonymous
JWT_SECRET=123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890

CERTIFICATE_AWS_REGION=us-east-1
CERTIFICATE_AWS_HOST=s3.us-east-1.amazonaws.com
CERTIFICATE_AWS_BUCKET=clspt-uploads-stg
CERTIFICATE_AWS_FOLDER=/signed/certificates
CERTIFICATE_AWS_ACCESS_KEY_ID=ACCESS_KEY_ID
CERTIFICATE_AWS_SECRET_ACCESS_KEY=SECRET_ACCESS_KEY
CERTIFICATE_AWS_IS_PUBLIC=FALSE
CERTIFICATE_AWS_IS_HTTPS=TRUE

DIRECT_UPLOAD_AWS_REGION=us-east-1
DIRECT_UPLOAD_AWS_HOST=s3.us-east-1.amazonaws.com
DIRECT_UPLOAD_AWS_BUCKET=clspt-uploads-stg
DIRECT_UPLOAD_AWS_ROOT_FOLDER=/signed
DIRECT_UPLOAD_AWS_ACCESS_KEY_ID=ACCESS_KEY_ID
DIRECT_UPLOAD_AWS_SECRET_ACCESS_KEY=SECRET_ACCESS_KEY
DIRECT_UPLOAD_AWS_IS_PUBLIC=FALSE
DIRECT_UPLOAD_AWS_IS_HTTPS=TRUE

DATABASE_PASSWORD=DATABASE_PASSWORD_STAGING
DATABASE_HOST=DATABASE_HOST_STAGING
DATABASE_PORT=DATABASE_PORT_STAGING
DATABASE_USER=DATABASE_USER_STAGING
DATABASE_DB=DATABASE_DB_STAGING
