.bundle

/db/backups
/db/dumps

.env
.env.sh
.env.production
.env.test
.env.test.sh

*.pem
*.dump

credentials
debug
diff_trees
drafts
references
tmp

Dockerfile
docker-compose.yml

/log
/tmp
/coverage
/examples
/thumbor
/node_modules
/yarn-error.log

.byebug_history
/public/packs
/public/uploads
/public/assets
/public/assets-test
/public/web-app
/public/packs-test

yarn-debug.log*
.yarn-integrity

