p a {
  color: var(--primary);
  text-decoration: underline;
  &:hover,
  &:active {
    color: var(--primary);
    text-decoration: underline;
  }
}

p code {
  color: var(--foreground);
  background-color: rgba(27, 31, 35, 0.05);
  padding: 0.125em 0.25em;
  border-radius: 3px;
}

.token.property,
.token.string {
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.schema-property,
.schema-definition {
  margin-bottom: 1em;

  pre {
    margin-top: 1em !important;
  }

  code {
    color: var(--foreground);
    background-color: rgba(27, 31, 35, 0.05);
    padding: 0.125em 0.25em;
    border-radius: 3px;

    a {
      color: inherit;
      text-decoration: underline;
    }

    .token.condition {
      color: red;
    }
  }

  ul {
    li {
      line-height: 1.7em;

      a code {
        text-decoration: underline;
      }
    }
  }

  h3 {
    display: block;

    & + ul {
      padding-left: 1.2em;
      margin: 1em 0 0 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
