@import "vue-multiselect/dist/vue-multiselect.min.css";

.multiselect__option--selected {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-weight: bold !important;
}

.multiselect__option--selected:after {
  color: var(--foreground-medium) !important;
}

.multiselect__option--highlight {
  color: #ffffff !important;
  background: var(--primary) !important;
  font-weight: bold !important;
}

.multiselect__option--selected.multiselect__option--highlight {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-weight: bold !important;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  color: var(--foreground-medium) !important;
  background: var(--background) !important;
  content: attr(data-selected) !important;
}
