version: '3'
services:
  base: &base
    image: classpert/rails:latest
    volumes:
      - .:/app

  app_development:
    <<: *base
    command: bundle exec rails s -b 0.0.0.0
    env_file:
      - .env
    depends_on:
      - thumbor
      - que
      - webpacker
      - hypernova
      - mailcatcher
      - postgres
      - postgres_test
      - elasticsearch
      - assets.s3

  app_test:
    <<: *base
    ports:
      - 3000:3000
      - 9222:9222
    env_file:
      - .env.test
    depends_on:
      - mailcatcher
      - postgres
      - postgres_test
      - elasticsearch

  que:
    <<: *base
    command: bundle exec que
    env_file:
      - .env

  hypernova:
    <<: *base
    command: node ssr/ssr.js
    volumes:
      - .:/app
    ports:
      - 7777:7777
    env_file:
      - .env

  webpacker:
    <<: *base
    command: bin/webpack-dev-server
    environment:
      - "WEBPACKER_DEV_SERVER_HOST=0.0.0.0"
      - "WEBPACKER_DEV_SERVER_PUBLIC=webpacker:3035"
    ports:
      - 3035:3035

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 1025:1025
      - 1080:1080

  thumbor:
    image: dalthon/thumbor-s3-storage
    volumes:
      - ./thumbor/thumbor.conf:/thumbor/thumbor.conf
    ports:
      - 8000:8000
    depends_on:
      - fake.s3
    environment:
      - THUMBOR_SECURITY_KEY=SOME_SECURITY_KEY
      - THUMBOR_LOG_LEVEL=debug
      - AWS_ACCESS_KEY_ID=S3_KEY_ID
      - AWS_SECRET_ACCESS_KEY=S3_ACCESS_KEY
      - S3_PORT=9000
      - S3_HOST=fake.s3

  fake.s3:
    image: vladnev/fake-s3
    ports:
      - 9000:9000
    volumes:
      - fake_s3_data:/storage
    command: -r /storage -p 9000 -H fake.s3

  assets.s3:
    image: nginx
    command: /bin/bash -c "envsubst < /etc/nginx/conf.d/upload_assets.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
    ports:
      - 9090:80
    volumes:
      - ./config/nginx_upload_assets.template:/etc/nginx/conf.d/upload_assets.template
    depends_on:
      - fake.s3
    environment:
      - AWS_S3_BUCKET_NAME=quero-web-app-dev
      - AWS_S3_ENDPOINT=http://fake.s3:9000
      - AWS_S3_PROD_BUCKET_NAME=quero-web-app-prd
      - AWS_S3_REGION=us-east-1

  postgrest:
    image: postgrest/postgrest
    ports:
      - 3000:3000
    depends_on:
      - postgres
    environment:
      PGRST_DB_URI:       postgres://${AUTHENTICATOR_USER}:${AUTHENTICATOR_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}
      PGRST_DB_SCHEMA:    ${API_SCHEMA}
      PGRST_DB_ANON_ROLE: ${API_ANONYMOUS_ROLE}
      PGRST_JWT_SECRET:   ${JWT_SECRET}

  postgres:
    image: classpert/database:1.2.3
    environment:
      POSTGRES_DB: quero_development
    ports:
      - 5432:5432

  postgres_test:
    image: classpert/database:1.2.3
    environment:
      POSTGRES_DB: quero_test
    ports:
      - 5433:5432

  elasticsearch:
    image: nshou/elasticsearch-kibana:kibana6
    environment:
      - "discovery.type=single-node"
    ports:
      - 9200:9200
      - 9300:9300
      - 5601:5601
    volumes:
      - esdata:/usr/share/elasticsearch/data

volumes:
  esdata:
  fake_s3_data:
