version: '3'
services:
  base: &base
    image: classpert/rails:2.0.1
    volumes:
      - .:/app

  app_development:
    <<: *base
    command: bundle exec rails s -b 0.0.0.0
    env_file:
      - .env
    depends_on:
      - thumbor
      - sidekiq
      - webpacker
      - redis
      - mailcatcher
      - postgres
      - elasticsearch

  app_test:
    <<: *base
    ports:
      - '3000:3000'
      - '9222:9222'
    env_file:
      - .env.test
    depends_on:
      - redis
      - mailcatcher
      - postgres
      - elasticsearch

  sidekiq:
    <<: *base
    command: bundle exec sidekiq

  webpacker:
    <<: *base
    command: bin/webpack-dev-server
    environment:
      - "WEBPACKER_DEV_SERVER_HOST=0.0.0.0"
      - "WEBPACKER_DEV_SERVER_PUBLIC=webpacker:3035"
    ports:
      - "3035:3035"

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1025:1025"
      - "1080:1080"

  thumbor:
    image: dalthon/thumbor-s3-storage
    volumes:
      - ./thumbor/thumbor.conf:/thumbor/thumbor.conf
    ports:
      - 8000:8000
    depends_on:
      - fake.s3
    environment:
      - THUMBOR_LOG_LEVEL=debug

  fake.s3:
    image: vladnev/fake-s3
    ports:
      - 9000:9000
    volumes:
      - fake_s3_data:/storage
    command: -r /storage -p 9000 -H fake.s3

  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis:/data

  postgres:
    image: postgres:9.6
    ports:
      - "5432:5432"
    volumes:
      - postgres-9.6:/var/lib/postgresql/data

  elasticsearch:
    image: nshou/elasticsearch-kibana:latest
    environment:
      - "discovery.type=single-node"
    ports:
      - "9200:9200"
      - "9300:9300"
      - "5601:5601"
    volumes:
      - esdata:/usr/share/elasticsearch/data

volumes:
  redis:
  postgres-9.6:
  esdata:
  fake_s3_data:
