<div class='el:amx-Bc_white'>
  <div class='container'>
    <div class='row el:amx-Pt(0.5em) el:amx-Pb(2em)'>
      <div class='col-8 col-sm-9'>
        <div class='el:cmx-vcenter'>
          <h1 class="el:amx-Fs(1.875em)@>medium el:amx-Fs(1.5em)@>extra-small">
            <%= title %>
          </h1>
          <p class="mx-D(n)@<medium c-hero(2.0)__text-slot mx-Mt(0d875)">
            <%= description %>
            <div class='mx-Pt-0d75 mx-Pb-0d5 el:amx-Fs(0.875em)@>extra-small el:amx-Fs(1em)@>medium'>
              <span class='el:amx-D(n)@extra-small el:amx-D(n)@small el:amx-Fw(b)'><%= share_it %> &nbsp;</span>
              <div class='mx-D(ib) mx-Va(m)'><div data-vue-cpt='social-share'></div></div>
            </div>
          </p>
        </div>
      </div>
      <div class='col-4 col-sm-3'>
        <%= art_html %>
      </div>
    </div>
  </div>
</div>
