<div class='el:amx-Bc_su'>
  <div class='container'>
    <div class='row el:amx-Pt(2em) el:amx-Pb(2em)'>
      <div class='col-8 col-sm-9'>
        <div class='el:cmx-vcenter'>
          <h1 class="el:amx-Fs(1.5em) el:amx-Fs(1.875em)@>lg">
            <%= title %>
          </h1>
          <p class="mx-D(n)@<sm c-hero(2.0)__text-slot el:amx-Mt(0.875em)">
            <%= description %>
            <div class='el:amx-Pt(0.75em) el:amx-Pb(0.5em) el:amx-Fs(0.875em) el:amx-Fs(1em)@>lg'>
              <span class='el:amx-D(n)@<sm el:amx-Fw(b)'><%= share_it %> &nbsp;</span>
              <div class='el:amx-D(ib) el:amx-Va(m)'><div data-vue-cpt='social-share'></div></div>
            </div>
          </p>
        </div>
      </div>
      <div class='col-4 col-sm-3'>
        <%= art_html %>
      </div>
    </div>
  </div>
</div>
