<% content_for :meta do %>
  <title>Internal Server Error - 500 | Classpert</title>
<% end %>

<% content_for :title do %>
  Internal Server Error
<% end %>

<% content_for :art do %>
  <%= image_pack_tag("media/svg/500.svg", width: '100%') %>
<% end %>

<% content_for :sub_title do %>
  Please try again later or send an e-mail to <%= link_to "contact@classpert.com ",
    "mailto:contact@classpert.com", class: 'el:m-link el:m-link--yellow' %></b> if the problem
  persists
<% end %>
