<%%= content_for :javascript do %>
  <script src="<%= web_component_path('iconTechLibrary.js') %>" type='text/javascript'></script>
<%% end %>

<%%= content_for :meta do %>
  <%%= html.meta %>
<%% end %>

<!-- HERO -->
<div class='c-hero c-hero--squerol-pattern-theme'>
  <div class='c-hero__mask'></div>
  <div class='l-container'>
    <div class='mx-H(126px) c-hero__content c-layout-vcenter-block'>
      <div class='c-layout-vcenter-block__child'>

        <div style='vertical-align:middle;margin-right:15px;width:20%;max-height:96px;display:inline-block;max-width:96px;box-sizing:border-box'>
          <%%= html.tagline_art %>
        </div><div style='display:inline-block;vertical-align:middle;width:calc(80% - 15px);max-width:390px'>
          <h1 style='font-size:1.8em;margin:0;line-height:1.2em;padding:0;margin-bottom:5px'><%%= html.tagline %></h1>
          <p style='font-size:0.875em;margin:0'>
            <%%= html.sub_title %>
          </p>
        </div>
      </div>

      <div class='c-hero__illustration mx-D(n)@phone mx-D(n)@tablet'>
        <%= image_pack_tag("svg/squerol_nerd.svg", style: 'height:100%') %>
      </div>

    </div>
  </div>
</div>

<div class='l-container' style='margin-top:40px'>
  <%%= html.body %>
</div>
