<div class='c-hcard'>

  <div class='c-hcard__media-slot'>
    <div class="logo" style="display:inline-block;width:100%;box-sizing:border-box">
      <svg viewBox="0 0 100 100" style="margin:15%">
        <use xlink:href='<%= icon_path("udemy") %>'></use>
      </svg>
    </div>
  </div>

  <div class='c-hcard__content-slot'>
    <h3 class='c-hcard__title'>
      Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    </h3>
    <ul class='c-hcard__meta'>
      <li>
        <span class='c-label'>
          <svg class='c-label__icon'>
            <use xlink:href='<%= icon_path("audio-icon") %>'></use>
          </svg>
          <span class='c-label__text'>pt-br</span>
        </span>
      </li>
      <li>
        <span class='c-label'>
          <svg class='c-label__icon'>
            <use xlink:href='<%= icon_path("subtitle-icon") %>'></use>
          </svg>
          <span class='c-label__text'>pt-br</span>
        </span>
      </li>
    </ul>
  </div>

  <div class='c-hcard__price-slot'>
    <span class='c-price'>
      <span class='c-price__currency'>R$</span>
      <span class='c-price__integer'>19,</span>
      <span class='c-price__cents'>99</span>
    </span>
  </div>

</div>
