<%= content_for :body do %>
  <div class='container' style='padding-top:40px;padding-bottom:60px'>
    <div class='row'>
      <div class='col'>
        <h2 class='el:amx-Ta(c)' style='margin-bottom:20px'><%= yield :section_header %></h2>
      </div>
    </div>

    <%= yield %>
  </div>
<% end %>
<% content_for :body_html_attributes do %>
  class="mx-Bc(white)"
<% end %>

<%= render template: 'layouts/global' %>
